[2019-06-10 06:17] makkoncept opened #2 "Footer is displaced when we search for something"
**Describe the bug**
The footer is displaced and is placed on top of the content section when we enter a search query. The markup remains good on initial popup but the problem occurs when we search for something.

**To Reproduce**
Steps to reproduce the behavior:
1. Load the extension in firefox or chrome.
2. Search for something.

**Expected behavior**
The footer must not displace from it's place

[2019-06-10 19:33] #2 closed

[2019-06-25 12:51] makkoncept opened #3 "Uneven images column length over a large number of requests"
**Describe the bug**
This is more evident now as now there is lazy loading in place. The images that fill the columns are not of the same heights, so the difference of heights add up and there is significant white space left at the bottom some column with respect to others.

**To Reproduce**
Steps to reproduce the behavior:
1. Search for anything in the extension
2. Scroll to the bottom 5-10 times

[2019-06-25 13:02] makkoncept opened #4 "Overwhelming Image scaling animation for large images"
**Describe the bug**
Some search results are very large in height, therefore when we hover over them, then the animation of scaling of the image is very significant. This is because the scale property is proportional to the size of images.

**To Reproduce**
Steps to reproduce the behavior:
1. Search for 'hello' with the provider set to 'Behance'
2. There you would get some very large images. Hover

[2019-06-25 13:07] makkoncept opened #5 "Sometimes the image title is not visible on hover"
**Describe the bug**
This happens when the image is light in color. Please refer to the screenshots below.

**Expected behavior**
The image title must be clearly visible.

**Screenshots**
![Screenshot from 2019-06-25 18-33-45](https://user-images.githubusercontent.com/34679965/60100827-28ecfb80-9778-11e9-87e2-1797e29ca57e.png)

**Desktop (please complete the following information):**
 - OS: Linux

[2019-06-25 13:16] makkoncept opened #6 "Loader animation keeps going even if there are no more results"
**Describe the bug**
When the user searches for something that doesn't have many results, then after a few scrolls there are no results but the extension does not display any message and the loading animation is still there at the bottom
Please refer to the screenshots below.

**Expected behavior**
There should be a message that no more images are there and the loading animation should not be ther

[2019-06-25 13:22] makkoncept opened #7 "Big search query flows under the search and filter icons"
**Describe the bug**
A big search query in the input box shows under the icons.
Please refer to the screenshots below.

**Screenshots**
![Screenshot from 2019-06-25 18-48-24](https://user-images.githubusercontent.com/34679965/60101922-4622c980-977a-11e9-8a48-994268704f5f.png)

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser: Chrome

[2019-06-26 12:26] #4 closed

[2019-06-26 12:26] #5 closed

[2019-06-26 12:26] #6 closed

[2019-07-02 17:23] makkoncept commented on #3
Removed this bug by using the [masonry grid](https://masonry.desandro.com/).
Some flickering in images was noticed in firefox which was solved by making the `transitionDuration` option to 0

[2019-07-02 17:23] #3 closed

[2019-08-17 23:58] makkoncept opened #8 "Error while downloading images in absence of content script"
**Describe the bug**
The following error occurs when trying to download a photo from Behance provider:
`popup.html:1 Access to XMLHttpRequest at 'https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/180a6536683721.5725932eb3e24.jpg' from origin 'chrome-extension://obckdhkhgdbigeihagclikjmlioanfbb' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requ

[2019-08-23 13:11] makkoncept opened #9 "Add a privacy policy"
**Describe the solution you'd like**
It would be better to assure users that we don't collect any data from their computer. That only time connection to a remote server is made is when they search for images and when the extension update Provider lists.

**Describe alternatives you've considered**
Adding the privacy policy to the wiki would be a good option. We can add the link to the browser list

[2019-08-23 18:40] kgodey commented on #9
tagging @sarahpearson

[2019-08-23 18:50] makkoncept commented on #9
I have added a basic one in the [wiki](https://github.com/creativecommons/ccsearch-browser-extension/wiki/Privacy-Policy). It might need some work.

[2019-08-23 18:51] kgodey commented on #9
Please don't link to it until @sarahpearson has had a chance to review it.

[2019-08-23 18:52] makkoncept commented on #9
She can maybe edit and improve version in the wiki itself?

[2019-08-23 18:55] kgodey commented on #9
Yes, that's fine but please don't link it publicly until she has.

[2019-08-25 10:39] makkoncept opened #10 "Adding "No internet connection" message"
**Is your feature request related to a problem? Please describe.**
Adding a "No internet connection" message or warning would be a good improvement.
- The loader is visible indefinitely if the user searches for something and there is no internet connection. They might not know that they are not connected to the internet.
- When viewing the bookmarks, the thumbnails and the metadata is fetched from

[2019-08-25 10:52] makkoncept opened #11 "Let the user know that "backup" filters have been loaded"
**Is your feature request related to a problem? Please describe.**
The CC Catalog API adds (and sometimes removes) the image providers available. Therefore, the extension loads the latest providers using the [/statistics/image](https://api.creativecommons.engineering//statistics/image) endpoint of the API at the start of the popup session (same for the "Filters" tab in the options page).
If there

[2019-08-27 22:15] makkoncept commented on #9
Thanks @sarahpearson!

[2019-08-27 22:15] #9 closed

[2019-09-04 10:25] dhruvkb opened #13 "Use Font Awesome icons for better compatibility with Vocabulary"
The extension uses icons from Material Design by Google. This is evidenced here:
![image](https://user-images.githubusercontent.com/16580576/64247146-de33f080-cf2b-11e9-8017-b3c810997eac.png)

But Vocabulary has been designed with Font Awesome and even comes with some Font Awesome icons pre-packaged into the bundle. So for consistency with the rest of CC applications, Material icons should be repl

[2019-09-28 19:31] makkoncept opened #14 "Let the user to only search for terms with alpha-numeric characters."
**Is your feature request related to a problem? Please describe.**
We should not let the users enter invalid search terms that might give server error, for eg: _hi]_, _bye!_ give server errors (try: https://api.creativecommons.engineering/image/search?q=bye!&pagesize=50)

**Describe the solution you'd like**
Show the user a message or a warning that only alpha-numeric characters are allowed as sea

[2019-09-28 20:16] makkoncept opened #15 ""Fetching Providers List..." message is not visible in darkmode"
**Describe the bug**
Since the color of the message is black and it does not change in the dark mode, the message is not visible.
See the screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the dark mode as default.
2. After opening the extension, immediately open the filters section. (_be quick!_)

**Expected behavior**
The message color should change to something bright (

[2019-09-29 19:28] #14 closed

[2019-09-30 15:14] makkoncept opened #18 "Add JSON parsing error handling"
**Descriptions**
When a user uploads a bookmarks JSON file, [this](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/src/options/options.js#L45) event listener parses the file.

An error occurs when an invalid JSON file is uploaded but no message or feedback is given to the user.

We need to add JSON parsing error handling and show an appropriate message like `Not valid jso

[2019-09-30 18:02] jeffreymeng commented on #10
Hi! I can work on this.

[2019-09-30 19:57] manisacharya commented on #18
Hello @makkoncept. I would like to work on this issue.

[2019-10-01 10:17] makkoncept commented on #10
Sure, go ahead!

[2019-10-02 03:02] #18 closed

[2019-10-02 06:59] codingonHP opened #21 "ccsearch-browser-extension is broken (tested on chrome, firefox)"
**Describe the bug**
This extension no longer works.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on extension icon to open
2. Write a search query in the search box "kitten"
3. Click on search icon (or hit enter key)

**Expected behavior**
Search result showing cute kittens should be loaded

**Screenshots**
![image](https://user-images.githubusercontent.com/7105293/66023900-1e2cca0

[2019-10-02 07:21] codingonHP commented on #11
Can I pick this up?

[2019-10-02 08:44] codingonHP commented on #7
**Proposal**
The font size of the query box is 130%. We can dynamically increase/decrease the font size based on the length of the query user types.

**Sample**
[code]

[2019-10-02 09:25] thegitone23 commented on #7
May i try to solve this issue ??

[2019-10-02 12:30] #21 closed

[2019-10-02 12:48] makkoncept commented on #11
Sure, go ahead!

[2019-10-02 12:56] makkoncept commented on #7
I don't think that this is a good alternative as it seems hacky and will not be asthetically pleasing.

[2019-10-02 13:05] thegitone23 commented on #7
How about a ui change .. can we make the text field a little smaller than those buttons ?

[2019-10-02 13:41] makkoncept commented on #7
The icons inside the input field look good and minimal.
I was thinking about something like in this [codepen](https://codepen.io/Mestika/pen/CiKlj)

[2019-10-02 13:44] thegitone23 commented on #7
Yeah this will work perfectly i guess .. may i attempt to go for this one ??

[2019-10-02 13:49] codingonHP commented on #7
@makkoncept  I was thinking the same :)

[2019-10-02 13:53] makkoncept commented on #7
@thegitone23 Go ahead!

[2019-10-02 14:14] #11 closed

[2019-10-02 14:16] codingonHP commented on #8
@makkoncept I tried reproducing this issue in Chrome but couldn't. Can you check if you are still getting this error?

[2019-10-02 14:36] makkoncept commented on #8
@codingonHP, I am also not getting the error. This is strange. I think we should not remove the `contents.js` file right now because this may be temporary. Waiting for more insight into this.

[2019-10-02 14:53] makkoncept commented on #8
@codingonHP I am getting the error again. Actually, I didn't reload the extension after removing the `content_scripts` field from chrome `manifest.json`. We need to reload the extension in `chrome://extensions/` after we make the change in the manifest file.

[2019-10-02 14:55] makkoncept opened #25 "Space under the footer when we search for something"
**Describe the bug**
After we search for something, as soon as the loader comes, there is some space below the footer which is removed when the image thumbnails are loaded.
See the screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the extension and search for anything
2. Observe the footer.

**Expected behavior**
Footer must not move up.

**Screenshots**
![Screenshot (20

[2019-10-02 15:14] zjael commented on #25
Will take a look. :)

[2019-10-02 15:21] makkoncept commented on #25
Sure, go ahead!

[2019-10-02 15:36] codingonHP commented on #8
created a PR for it :)
https://developer.chrome.com/extensions/xhr

[2019-10-02 17:52] efl7a commented on #13
I would like to work on this.

[2019-10-03 12:49] #25 closed

[2019-10-06 15:40] codingonHP commented on #7
@thegitone23 Nice work man!
I would still prefer that you remove the border around the text box and try to go for the horizontal scroll on text-overflow. The reason being that it is not aesthetically pleasing and kind breaks the flow. You are almost there. All you have to do is that break the search bar into text box and icons and then blend them together so that they look like one element but in

[2019-10-06 19:18] thegitone23 commented on #7
Thanks for the reply first of all, the text box and search area are i think already of the same width but that is the reason causing the overflow, i think javascript would be required to achieve the required effect, can you please suggest a way to do it without using javascript or otherwise should i add a new js file to do that for me, i am a little confused about where should i put the js to do s

[2019-10-07 02:21] #13 closed

[2019-10-07 03:01] codingonHP commented on #7
@thegitone23
You don't need javascript for this. It can be done solely in CSS. I did quick CSS editing directly in chrome:

![image](https://user-images.githubusercontent.com/7105293/66282363-be9e3800-e8dc-11e9-8856-ea94bc9ae9a0.png)

This is just to give idea that only CSS is required

[2019-10-07 03:12] thegitone23 commented on #7
Thanks for the reply Sir, going straight to the issue the original effects can't be achieved as the serach area doesn't have the same focus properties as the input box, though I can set tabindex for search area but still the autofocus won't work for the search area and I don't think just using css I would be abel to apply borders and shadows to the search area when text area will have focus set to

[2019-10-07 07:50] makkoncept commented on #7
Hi @thegitone23, thanks for working on this. I am sorry, I didn't get the email notification of this and therefore was not able to take part in the discussion.

Just like @codingonHP said, you are very close. I have checked your PR locally and can see that the problem is due to the focus animation present in the input field. I would suggest you remove the focus animation altogether from the input

[2019-10-07 13:35] thegitone23 commented on #7
Thanks for the reply , I got your point, actually my initial solution was quite like the one you mentioned but the feedback issue was bothering me, anyways I will now work it out using your approach.

[2019-10-07 13:36] thegitone23 commented on #7
Thanks for the reply , I got your point, actually my initial solution was quite like the one you mentioned but the feedback issue was bothering me, anyways I will now work it out using your approach.

[2019-10-07 14:13] thegitone23 commented on #7
I have submitted the PR, i hope it does the job this time.

[2019-10-07 17:23] #7 closed

[2019-10-07 18:09] makkoncept opened #31 "Space under footer in bookmarks section"
**Describe the bug**
There is a space under footer in the bookmarks section when there are not enough images. As we keep adding the images, it is pushed down to its position.
Check the screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the extension.
2. Click on the bookmarks icon in the header to switch to the bookmarks section.
3. Remove all the bookmark images(if prese

[2019-10-07 18:16] imbipulkumar commented on #31
Hey @makkoncept
Assign this issue to me.
Thank you!

[2019-10-07 18:45] makkoncept opened #32 "Bookmark icons not showing on hovering over the thumbnails"
**Describe the bug**
When we hover over the image, the bookmark icons are not showing. In place of it, `bookmark_border` and `bookmark` text is displayed.

This bug is a result of Pull https://github.com/creativecommons/ccsearch-browser-extension/pull/29 . We have moved from material icons to font awesome icons. The syntax of describing the icon is different in both of them.

_Material icons_:
`<i

[2019-10-07 18:51] makkoncept commented on #31
Sure, Go ahead!

[2019-10-07 19:52] bennetthanna commented on #32
Hi! I would be interested in fixing this issue if no one else has claimed it

[2019-10-07 22:12] makkoncept commented on #32
Sure, Go ahead!

[2019-10-08 12:23] Lawrence4code commented on #32
I'd like to work on this, please.

[2019-10-08 12:24] Lawrence4code commented on #10
I'd like to work on this, please.

[2019-10-08 14:12] #8 closed

[2019-10-08 16:23] codingonHP opened #33 "Bookmark page's footer is out of place"
### Issue
Footer on the Bookmarks page is out of place

![image](https://user-images.githubusercontent.com/7105293/66413851-da592980-ea15-11e9-8388-525044a659e6.png)

### Solution
CSS needs work

[2019-10-08 17:41] ashishdutta007 commented on #33
Will fix this

[2019-10-08 20:54] ashishdutta007 commented on #31
@makkoncept #33 is a duplicate issue created for this same issue.
You can find the PR for both of these in
https://github.com/creativecommons/ccsearch-browser-extension/pull/34

[2019-10-08 22:53] makkoncept commented on #33
closing as it's a duplicate of #31.

[2019-10-08 22:53] #33 closed

[2019-10-08 23:05] makkoncept commented on #31
@imbipulkumar This issue has been solved in #34. Sorry for the confusion. You can checkout other issues to work on or watch the repo for new ones.
Thanks

[2019-10-08 23:06] #31 closed

[2019-10-08 23:08] makkoncept commented on #32
@Lawrence4code Thanks for your interest, but @bennetthanna is working on the issue right now. I will let you know if we need any help with this issue in the future.
Thanks

[2019-10-08 23:11] makkoncept commented on #10
Sure, go ahead!

[2019-10-09 02:29] jeffreymeng commented on #10
Ok. I was having some trouble getting the development version of the extension to launch without errors, and that's why it was taking longer than expected, but I'm totally fine with somebody else working on this.

[2019-10-09 10:28] makkoncept commented on #10
@jeffreymeng If you are still facing some problems spinning up the local environment, you can create an issue for that and we can together figure things out.
Also, if you think that you can add something to the documentation about setting up the extension, feel free to create an issue and submit a PR for it.
Thanks

[2019-10-17 06:43] #32 closed

[2019-10-27 10:58] codingonHP commented on #10
@jeffreymeng Are you still having trouble setting up the dev env?
You can post your errors here and we can help you sort it out

[2019-10-27 20:21] jeffreymeng commented on #10
Oh, I'll just give @Lawrence4code the opportunity to work on this.

[2019-11-04 19:37] makkoncept opened #36 "Change Popup button styles (integrate CC-vocabulary)"
Change the style of the buttons in the information-popup( popup which opens when you click on image thumbnail) of the extension and replace it with cc-vocabulary styles.

**How to do it**
_Note_ - CC-vocabulary is already linked into the project, therefore you just need to add the appropriate classes and mimic the markup(if different) to change the styles.

Head over to the Buttons section in [CC-

[2019-11-04 21:06] makkoncept opened #37 "Change Popup heading styles (integrate CC-vocabulary)"
Change the HTML markup of the heading elements of the information-popup( popup which opens when you click on image thumbnail) of the extension and integrate with cc-vocabulary.

**How to do it**
Note - CC-vocabulary is already linked into the project, therefore you just need to add the appropriate classes and mimic the markup(if different) to change the styles.

Head over to the Heading section in

[2019-11-04 23:09] makkoncept opened #38 "Add CC vocabulary paragraph styles to main extension popup"
There is some initial information when the extension opens. Add CC vocabulary styles to it.

**How to do it**
Note - CC-vocabulary is already linked into the project, therefore you just need to add the appropriate classes and mimic the markup(if different) to change the styles.

Head over to the [Paragraph section](https://opensource.creativecommons.org/cc-vocabulary/styleguide/#/Elements/Paragrap

[2019-11-04 23:31] makkoncept opened #39 "Add CC vocabulary paragraph and heading styles to bookmarks section"
Add appropriate classes of cc-vocabulary to heading and paragraph of the bookmarks section and also remove unnecessary style definitions from corresponding SCSS files.

**How to do it**
Note - [CC-vocabulary]() is already linked into the project, therefore you just need to add the appropriate classes(which you can see after inspecting the element in dev tools) and mimic the markup(if different) to

[2019-11-05 20:03] makkoncept opened #40 "Integrate CC-Vocabulary in text element in options page"
CC-vocabulary is integrated into other elements like checkboxes, tabs, buttons. We need to add it to text elements like paragraphs and headings too.

**How to do it**
Note - [CC-vocabulary](https://opensource.creativecommons.org/cc-vocabulary/styleguide/) is already linked into the project, therefore you just need to add the appropriate classes(which you can see after inspecting the element in dev

[2019-11-05 20:20] makkoncept opened #41 "Save the filters automatically without needing to press the save button"
Right now, on the options page of the extension, to save the filters to the localStorage, the user have to press the save button. There is also a note present, reminding the user to press the save button for the changes to take effect.

We can improve on this by automatically triggering the save whenever the user selects (or deselect) some checkboxes. We should wait for a second before triggering

[2019-11-06 20:37] makkoncept opened #42 "CC-0 license icon is not rendering in bookmarks section"
**Describe the bug**
When we hover over the image having a CC-0 license, it's icon is not present at the top. See the screenshots below.

This is not the case with all the CC-0 licensed images, but nonetheless, it should be fixed.

**To Reproduce**
Steps to reproduce the behavior:
1. Search for images while applying the CC-0 filter
2. Bookmark a few of them.
3. Hover over them in the bookmarks sec

[2019-11-08 10:48] thegitone23 commented on #41
I would like to work on this issue.

[2019-11-19 20:25] #41 closed

[2019-11-28 08:54] ritesh-pandey commented on #42
I am unable to replicate the issue.

![Screenshot from 2019-11-28 14-21-06](https://user-images.githubusercontent.com/1433681/69791446-918a4980-11ea-11ea-983e-1256ff58803c.png)

[2019-11-28 09:03] ritesh-pandey opened #45 "Dark mode toggle from popup is not persistent"
**Is your feature request related to a problem? Please describe.**
Dark mode toggle from popup is not persistent. When we re-open the popup, previously toggled mode is not honored.

**Describe the solution you'd like**
Color toggle should be synced to database so that old state can be retrieved.

**Describe alternatives you've considered**
Set required mode in Options section.

**Additional contex

[2019-11-28 09:25] ritesh-pandey commented on #15
@makkoncept Can I take this up?

[2019-11-28 12:45] makkoncept commented on #15
@ritesh-pandey Go ahead!

[2019-11-28 12:52] makkoncept commented on #42
@ritesh-pandey this bug was due to inconsistent casing. The license image names are in lowercase and for some images, the catalog api was sending the cc-0 license name in upper cases(`CC-0`). It is now fixed in the api ([see here](https://github.com/creativecommons/cccatalog-api/issues/382)).

But nonetheless, before using the license or provider names, we should first change them to lower cases.

[2019-11-29 07:54] ritesh-pandey commented on #36
@makkoncept I raised a PR for the issue. But it wasn't assigned to me. Sorry for that. I will follow the contribution guideline in future.

[2019-11-30 16:01] #15 closed

[2019-11-30 16:13] #42 closed

[2019-11-30 16:30] makkoncept commented on #45
Hi @ritesh-pandey. So I think this boils down to the user's own experience and expectations from the UI.  I had no issues with having to open the options page to set the default dark mode preference in the extension because generally, before using any application, I change the UI settings of it to suit my needs.
But, the fact that you expected the dark mode state to persist from the popup itself m

[2019-11-30 16:36] makkoncept commented on #36
@ritesh-pandey, No problem! Go ahead and let me know if you run into some issues.

[2019-12-01 13:43] sharmaaditya570191 commented on #37
Hi @makkoncept . Please have a look.

[2019-12-01 13:46] sharmaaditya570191 commented on #45
Hi @makkoncept I would like to take this up. Could you please suggest how to implement this?

[2019-12-01 14:23] sharmaaditya570191 commented on #38
Hi @makkoncept . Please have a look at my PR.

[2019-12-01 15:03] sharmaaditya570191 commented on #10
Hi @makkoncept . I would like to take this up. Please suggest where to place `No internet connection` message.

[2019-12-01 15:25] sharmaaditya570191 commented on #39
Hey @makkoncept . Please have a look at my PR and suggest changes if any.

[2019-12-01 15:26] sharmaaditya570191 commented on #40
I would like to take this up @makkoncept .

[2019-12-02 19:04] makkoncept commented on #37
@sharmaaditya570191 please paste screenshots of the changes

[2019-12-03 08:49] #36 closed

[2019-12-06 19:16] #38 closed

[2019-12-10 13:26] #39 closed

[2019-12-13 13:03] makkoncept commented on #45
Fixed in 0891da7b1ace0b9abb8d664b899f7468ffe4370d, 1ad2740fef1015db30e1a14d55a64aac4e33269c and 75dee6857f00b87eb60e7a0dff9718d82f416c29

[2019-12-13 13:03] #45 closed

[2019-12-15 18:12] sharmaaditya570191 opened #56 "Add margin and align Apply and Reset filter buttons"
**Describe the bug**
Currently the Apply and Reset filter buttons are not aligned and do not have any margin.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on filter icon in search bar.
2. See error

**Expected behavior**
The Apply and Reset filter buttons should be properly aligned and have some margin in between.

**Desktop (please complete the following information):**
 - OS: Ubun

[2019-12-15 18:19] sharmaaditya570191 commented on #56
Hi @makkoncept . I tried changing the appropriate styling in `popup.css` file but it is getting overwritten after I build the extension using `npm run dev`.

[2019-12-17 12:11] #40 closed

[2019-12-17 17:56] sharmaaditya570191 commented on #56
The problem seems rectified on the latest master build so I am closing this now.Thanks.

[2019-12-17 17:56] #56 closed

[2019-12-17 18:22] sharmaaditya570191 commented on #10
Can I take this up @makkoncept ?

[2019-12-18 03:09] makkoncept commented on #10
@sharmaaditya570191 go ahead!

[2019-12-18 13:41] makkoncept commented on #37
fixed in #54

[2019-12-18 13:41] #37 closed

[2019-12-21 15:59] sharmaaditya570191 opened #59 "Unable to fetch providers message displayed with positive context"
**Describe the bug**
`unable to fetch providers. using default providers` message is displayed with `positive` context
whereas it is a `negative` message.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to web-extension.
2. See error

**Expected behavior**
Same message should be displayed with `negative` context.

**Desktop (please complete the following information):**
 - OS: Linux
 - Bro

[2019-12-21 16:00] sharmaaditya570191 commented on #59
Can I change the context of the message to negative @makkoncept ?

[2019-12-23 13:16] makkoncept opened #60 "Duplicate words in the about tab of the options page"
The word "CC Search" is present as a link and also a plain-text. Only the link is necessary.
Refer to the screenshot below.

![Screenshot from 2019-12-23 18-43-26](https://user-images.githubusercontent.com/34679965/71359999-580fe880-25b4-11ea-9401-009ba6f7cfd5.png)

[2019-12-23 16:46] sharmaaditya570191 commented on #60
I would like to take this up @makkoncept . Thanks.

[2019-12-23 18:26] sharmaaditya570191 opened #62 "Decrease spacing between search box and search results"
**Describe the bug**
Currently there is extra space between the search box and the search results.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the extension
2. Search for something in the search box.
3. There is lot of space between search box and searh results.
4. See error

**Expected behavior**
Space between search box and search results should be reduced.

**Screenshots**
![Scr

[2019-12-23 18:32] sharmaaditya570191 opened #63 "Add popup on clicking Delete All button under Bookmarks"
**Is your feature request related to a problem? Please describe.**
There is a fair probability that the user might click the `Delete All` button under `Bookmarks` mistakenly.

**Describe the solution you'd like**
A alert popup box which takes confirmation from the user on clicking the `Delete All` button can solve the problem.

**Additional context**
I want to work on this. Updating with a PR soon

[2019-12-23 18:45] #10 closed

[2019-12-23 18:46] #59 closed

[2019-12-23 18:47] makkoncept commented on #60
solved in #61

[2019-12-23 18:47] #60 closed

[2019-12-23 18:48] makkoncept commented on #63
It would be a nice feature! Sure, go ahead.

[2019-12-23 18:52] makkoncept commented on #62
Space is actually there for the filter section. Better implementation and UI is always better. Sure, go ahead!

[2020-01-07 06:15] stragu opened #64 "Add Internet Archive as a source"
It would be great to have access to Internet Archive search results. I know that CC licences are available on there.

https://archive.org/

This integration could be limited to images only using `mediatype:"image"`

https://archive.org/details/image?and[]=mediatype%3A%22image%22

There are close to 3.5 million images available.

To filter by licence, the CC abbreviations can be used. For example:

[2020-01-07 15:45] HeidiSeibold opened #65 "Sharing on Twitter does not work"
**Describe the bug**
When I click the "share on twitter" button, it opens a new tab with twitter. That's all.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'add-on'
1. Search for "baby cat"
2. Click on favorite baby cat image
2. Click on 'Share'
2. Click on twitter button
4. See error

**Expected behavior**
A prephrased tweet with the image.

**Screenshots**
If applicable, add screen

[2020-01-07 16:08] makkoncept commented on #65
Thanks for reporting the issue @HeidiSeibold. It will be fixed soon.

[2020-01-07 17:34] makkoncept commented on #65
@HeidiSeibold The issue has been fixed. The updated extension is pushed to the extension stores. While the change is live on Firefox and Opera, Chrome can take some days to review it.

[2020-01-07 17:35] #65 closed

[2020-01-08 08:56] HeidiSeibold commented on #65
Wow, thanks. That was super fast! :tada: :sunflower:

[2020-01-08 09:35] swaldman3 opened #66 "Firefox: Search window is only half shown if CC button is in overflow menu"
If the CC Search button is moved to Firefox's "overflow menu" rather than kept visible on the toolbar, then when it is clicked only about half the window is visible, making the options / dark mode / etc buttons inaccessible. Screenshot attached.
![Untitled](https://user-images.githubusercontent.com/2036150/71966674-ed88ba80-31f9-11ea-9dcd-d668f444d883.png)

Tested in Firefox 68.3.0esr on Windows.

[2020-01-08 16:06] makkoncept commented on #66
Hi, @swaldman3. Thanks for filling the issue.
You can read [here](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/user_interface/Popups#Popup_resizing) that the firefox addons, when moved to the overflow menu, are given a fixed width. The width is capped below the size of this extension ([here the person](https://discourse.mozilla.org/t/can-add-ons-webextensions-popups-deter

[2020-01-08 16:06] #66 closed

[2020-01-08 16:20] makkoncept commented on #64
Hi @stragu, thanks for the suggestion.
There are no plans for adding an API other than [CC Catalog](https://github.com/creativecommons/cccatalog-api/) because then we will face issues like managing two different API results, not having the required image information and not having the same filter endpoints.
I have brought this issue to the attention of the CC engineering team. Other image sources

[2020-01-08 16:20] #64 closed

[2020-01-08 16:54] kgodey commented on #64
@stragu I recommend opening a similar issue on https://github.com/creativecommons/cccatalog

[2020-01-09 01:35] stragu commented on #64
That makes absolute sense, thank you for the explanation and pointing me to the right spot, @makkoncept and @kgodey !

All the best.

[2020-01-11 11:34] AmanR28 commented on #62
Can I solve this issue now !!

[2020-01-11 13:41] AmanR28 commented on #63
Can I implement this feature?

[2020-01-11 15:12] makkoncept commented on #62
Hi @AmanR28, thank you for showing interest in contributing to this project.
I would ask @sharmaaditya570191 to choose one of the issues that he wants to solve (maybe there is work in progress) and you can take the other one.
@sharmaaditya570191 please comment on the issue that you are working on currently.

[2020-01-11 18:00] AmanR28 opened #74 "Improve UI of Filters"
UI of the filter form can be improved.
Here is a suggestion:

![Screenshot from 2020-01-11 22-54-53](https://user-images.githubusercontent.com/54908728/72208403-2b226780-34c8-11ea-84e3-ba20b60d8275.png)

It also fixes #62 : Decrease spacing between search box and search results

PS: As it resolves issue #62, so, if granted permission, I want to work on it.

[2020-01-11 23:23] sharmaaditya570191 commented on #63
I will be sending a PR for this soon. Could you please have a look at #62 for now?

[2020-01-11 23:31] sharmaaditya570191 commented on #74
This is when the filter option is selected. I pointed to the space between search box and results when filter option is not selected. Could you please suggest or share screenshot when filter is not selected?

[2020-01-12 03:06] AmanR28 commented on #63
Ohk thanks @sharmaaditya570191

[2020-01-12 03:11] AmanR28 commented on #74
Yep, it fixes the space when filters are not selected.

![Screenshot from 2020-01-12 08-37-11](https://user-images.githubusercontent.com/54908728/72213583-55e7dc80-3517-11ea-81b9-c857e27a9da9.png)

[2020-01-12 03:12] AmanR28 commented on #74
So can I work on it?

[2020-01-12 06:35] sharmaaditya570191 commented on #74
Yes sure.

[2020-01-12 15:52] nilshah98 opened #76 "Fix search bar to top while scrolling."
**Is your feature request related to a problem? Please describe.**
Yes, when I am searching for images, as I scroll through the images below, the search bar and the filter options disappear.
So, if I want to change filter midway through browsing, or if I want to redefine the search query I have to scroll all the way through

**Describe the solution you'd like**
Stick only the navbar to the top whe

[2020-01-12 19:43] makkoncept commented on #76
Thanks, @nilshah98 for the feature suggestion. Sure, go ahead :+1:

[2020-01-13 12:43] makkoncept opened #78 "Add a "back to top" button"
**Is your feature request related to a problem? Please describe.**
This is with reference to #76. Though the problem is one that ought to be solved as it could become frustrating to scroll back to the top for every new query or changing the filters. But I think the solution can be better as far as UI and UX are concerned.
The problems with fixing the search bar to the top of the viewport are:
- It

[2020-01-13 12:55] nilshah98 commented on #78
I would like to work on this

[2020-01-13 12:58] makkoncept commented on #78
Sure, go ahead. Also, close the PR #77

[2020-01-13 13:01] nilshah98 commented on #78
Done, thanks a lot.

[2020-01-13 13:02] makkoncept commented on #76
Pursuing a better solution. More info in #78.

[2020-01-13 13:02] #76 closed

[2020-01-13 13:23] AmanR28 opened #79 "Search should retain even after closing popup"
**Is your feature request related to a problem? Please describe.**
The search disappears if we close the popup.

**Describe the solution you'd like**
The search should be accessible for that session until changed by user.

**Additional context**
I would like to work on this.

[2020-01-13 20:34] #74 closed

[2020-01-13 20:35] makkoncept commented on #62
Fixed in #75

[2020-01-13 20:35] #62 closed

[2020-01-13 21:00] makkoncept commented on #79
@AmanR28 We tried this during the early development stage. The one problem that occurred was the increased start-up time of the extension. But, since the code has been improved significantly, it might work now.
The obvious solution is to store the search query in the localStorage to persist it across sessions.

Also, not all users might want to have this feature, therefore we can add a tab in the

[2020-01-13 21:16] makkoncept commented on #65
@HeidiSeibold The update has been reviewed and accepted by the chrome store also. If your version has not been updated yet, you can manually update it by:
- navigating to `chrome://extensions`.
- toggling on `Developer mode`.
- clicking on _Update_ button

[2020-01-14 13:41] #78 closed

[2020-01-15 14:10] AmanR28 commented on #79
@makkoncept Please create an issue for user choice for storing search, or can I?

PS: Assign it to me, please.

[2020-01-15 18:41] makkoncept commented on #79
@AmanR28 Let me create the issue.

[2020-01-15 18:57] sharmaaditya570191 opened #83 "Improve search functionality in the extension"
**Description**
Search functionality in the extension can be improved to listen to keyup events which can show search results as and when user types and can improve user experience. Currently the search results remain even if the user searches for something and then removes the searched text from the search box.

[2020-01-15 18:59] sharmaaditya570191 commented on #83
What are your views regarding this @makkoncept ? Thanks.

[2020-01-15 19:24] sharmaaditya570191 opened #84 "Add option to remove bookmark from main search result page"
**Is your feature request related to a problem? Please describe.**
Currently an image is bookmarked from the search results if we click once on the bookmark icon and on clicking the bookmark icon it displays a message that image already bookmarked.

**Describe the solution you'd like**
Functionality of the bookmark icon button can be modified such that on 2nd click or even clicks it removes the bo

[2020-01-15 19:30] sharmaaditya570191 opened #85 "Initial content moves to the bottom when filters are opened"
**Describe the bug**
The home page text content is moved to the bottom of the extension when filter is selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page of extension
2. Click on filter button
3. See error

**Expected behavior**
The text content should be properly aligned in the extension.

**Screenshots**
![Screenshot from 2020-01-16 01-03-45](https://user-images.gith

[2020-01-15 19:36] makkoncept opened #86 "Add a checkbox option to choose whether to persist the search results across sessions"
**Is your feature request related to a problem? Please describe.**
This is a complementary feature for #79.
Some users may not want the extension to remember the last search and would want to start fresh every time they open the extension.

**Describe the solution you'd like**
A checkbox that the user can toggle on or off to enable/disable the feature. It would be present in a new options tab with

[2020-01-15 19:49] makkoncept commented on #83
This is not possible (at least now)
- processing of the API result, generating individual image thumbnails and meta-data and filling them in masonry grid is a time-consuming process.
- Even if we bypass the above hurdle, this method would trigger a large number of API requests and the client is bound to pass the rate limit (60 request per minute).

[2020-01-15 19:50] makkoncept commented on #86
As discussed in #79, @AmanR28 is working on this.

[2020-01-15 20:51] sharmaaditya570191 commented on #84
I would like to solve this.

[2020-01-15 20:52] sharmaaditya570191 commented on #85
Can I take this up?

[2020-01-15 20:54] sharmaaditya570191 commented on #83
Ok so instead of keyup events addition can we have onchange events to see if the search box is empty and if it is empty we can clear the search results?

[2020-01-16 03:32] AmanR28 commented on #86
@makkoncept Thank you, sir.
As soon as PR #81 gets merged, I will create a pr for fixing this issue asap.

[2020-01-16 04:43] Aman28temp commented on #86
Should I use cookie or local storage to store the setting for this.

[2020-01-16 12:12] makkoncept commented on #86
Okay, I think it will take some time for me to review the PR. A lot is happening there.

[2020-01-16 12:17] makkoncept commented on #83
I don't think that it's necessary. If the user is removing the string inside the search box to search for a new query, there is no need to clear the previous results as after a few moments they would press enter anyways. Also, I have not seen this kind of behavior in any contemporary applications (except the ones that show live results)

[2020-01-16 12:19] makkoncept commented on #84
@sharmaaditya570191 I have added my review on #82. Please solve that first.
Thanks

[2020-01-16 12:19] makkoncept commented on #85
@sharmaaditya570191 I have added my review on #82. Please solve that first.
Thanks

[2020-01-16 16:06] swaldman3 opened #87 "RFE: better search queries"
**Is your feature request related to a problem? Please describe.**
At the moment any search in CCSearch appears to be an "any words" search. If I enter "wind turbine seabed" I mostly get pictures of onshore wind turbines, or wind turbines built into buildings - not the desired subsea offshore images.

**Describe the solution you'd like**
The ability to specify words that must be included in the re

[2020-01-16 16:07] HeidiSeibold opened #88 "I cannot use spaces or special characters in search query"
**Describe the bug**
I cannot use spaces or special characters (e.g. `-`)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'CC Search'
1. Enter 'CC-BY'
4. See error `no valid search query. Must be alphanumeric`

**Expected behavior**
I would like to see images with "CC-BY" as I do when I search on google
![image](https://user-images.githubusercontent.com/14146757/72541253-7b137c80-3882-

[2020-01-16 16:29] AmanR28 commented on #88
Yep, we should implement search that can handle search query with special characters.

[2020-01-16 16:37] AmanR28 commented on #86
Ohk will wait for it.

[2020-01-16 16:39] AmanR28 commented on #86
Can i work on some other issues till then, as both of my assigned issues are related to #81 to get merged.

[2020-01-16 17:19] sharmaaditya570191 commented on #88
Yes this can be a nice improvement.

[2020-01-17 10:43] makkoncept commented on #88
@HeidiSeibold Thanks for reporting the issue!
This was done to fix issue #14. Back then the cc catalog API used to just give 500 error and not any useful feedback. That behavior has been fixed (https://github.com/creativecommons/cccatalog-api/pull/366) and therefore we can put that to use.

_Side note_: I have checked, and spaces in the search query are working.

[2020-01-17 10:54] HeidiSeibold commented on #88
Ah I think I thought that it is not possible because I was searching for "Biergarten München" (beergarden munich), but there the "ü" was the problem.

Thanks for the search tool btw. I love it! :heart: :sunflower:

[2020-01-17 11:01] makkoncept commented on #88
Oh, this is also an important observation because the regex pattern only had English ASCII characters specified.

Thanks, more exciting features coming very soon!

[2020-01-17 11:25] makkoncept opened #89 "Replace infinite scrolling with voluntary loading"
**Is your feature request related to a problem? Please describe.**

There are several problems with infinite scrolling (in the extension, new images are appended automatically to the grid when the user reaches the bottom):
- the process of making a new request, processing the response and appending all the thumbnails to the grid is a resource extensive job and therefore during scrolling, for some

[2020-01-17 11:29] makkoncept commented on #86
Yes, comment on the unassigned issue you want to work on.

[2020-01-17 11:51] #83 closed

[2020-01-17 15:45] AmanR28 opened #90 "Add Option to Export Specific Bookmark, like exporting all bookmark"
**Is your feature request related to a problem? Please describe.**
Many time users doesn't want to export all bookmark, allow them to export the specific bookmark them wants.

**Describe the solution you'd like**
Allow specific bookmarks to be exported.

This issue can be broken down into two tasks:
- [x] Implement Export Specific Functionality
- [x] Enhance UI of Export Specific

**Additional con

[2020-01-17 15:48] Dhruvi16 commented on #85
I would like to take this up!
Thank you.

[2020-01-17 17:42] makkoncept commented on #87
Hi @swaldman3, thanks for the suggestion.
Actually, CC search does support search query enhancement to make the search more specific and meaningful to the user. For example: [mickey +mouse](https://search.creativecommons.org/search?li=&lt=&categories=&extension=&aspect_ratio=&size=&provider=&q=mickey%20%2Bmouse&searchBy=), [india +"taj mahal"](https://search.creativecommons.org/search?li=&lt=&cate

[2020-01-17 18:30] swaldman3 commented on #87
Fabulous, thanks - it sounds as though the problem at the moment is primarily a documentation one, that people just using the extension without knowing the infrastructure behind it don't know the syntax. Adding some info to the options page should help a lot.

[2020-01-17 18:47] makkoncept commented on #88
Issue has been fixed in b3caa7f and 6ba0870. The update has been pushed to the extension stores. Firefox has reviewed and accepted the changes. The updates will be up in the chrome and opera store in some days. This will be closed once the updates are live.

[2020-01-17 18:52] makkoncept commented on #90
Nice idea! Can you please give more details about how you are planning to implement this? One thing not in favor of us is the small size of the extension. We don't want to clutter the UI.

[2020-01-17 18:52] makkoncept commented on #85
@Dhruvi16 sure, go ahead.

[2020-01-18 03:32] Aman28temp commented on #90
elements.exportSpecificBookmarksButton.addEventListener('click', () => {
        chrome.storage.sync.get({ bookmarks: [] }, (items) => {
          const bookmarksArray = items.bookmarks;

          bookmarksArray.forEach((bookmarkId) => {
            const url = 'http://api.creativecommons.engineering/image/${bookmarkId}';

            fetch(url)
              .then(data => data.json())

[2020-01-18 03:41] Aman28temp commented on #90
In Task for implementing this feature:
  I will be using a normal table as UI, ensuring it matches the theme there.

For the task to implement UI for this feature, functions like "AddThumbnailToDOM" can be used to implement the consistent style for this feature.

[2020-01-18 03:43] AmanR28 commented on #90
elements.exportSpecificBookmarksButton.addEventListener('click', () => {
        chrome.storage.sync.get({ bookmarks: [] }, (items) => {
          const bookmarksArray = items.bookmarks;

          bookmarksArray.forEach((bookmarkId) => {
            const url = 'http://api.creativecommons.engineering/image/${bookmarkId}';

            fetch(url)
              .then(data => data.json())

[2020-01-18 03:43] AmanR28 commented on #90
In Task for implementing this feature:
I will be using a normal table as UI, ensuring it matches the theme there.

For the task to implement UI for this feature, functions like "AddThumbnailToDOM" can be used to implement the consistent style for this feature.

[2020-01-21 20:09] makkoncept commented on #88
Opera has reviewed and accepted the update.

[2020-01-22 19:28] #89 closed

[2020-01-23 22:03] makkoncept commented on #88
Chrome has also reviewed and accepted the update :100:

[2020-01-23 22:03] #88 closed

[2020-01-24 11:47] makkoncept opened #98 "No space between the images and the footer in bookmarks section"
**Describe the bug**
There is no space between the images at the bottom and the footer in the bookmarks section. When we hover over them, then the name and provider icon is also not visible. Please refer the screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Extension
2. Search for something and bookmark images
3. Scroll to the bottom of the bookmarks section

**Expected

[2020-01-26 09:58] makkoncept opened #100 "Load more button is still present when no images are found"
**Describe the bug**
When there are no images in a search query, the load more button is still rendered. Even though clicking it would not do fill the grid with empty thumbnails or show the loading animation forever, but nonetheless it should not be present in this particular case.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Extension
2. Search for random gibrish charachters ('eiej

[2020-01-26 09:59] makkoncept commented on #85
@Dhruvi16 can you please confirm if you are working on the issue?

[2020-01-26 12:11] gauravahlawat81 commented on #100
Hey ,I would like to take up this issue. Can I get assigned to this ?

[2020-01-26 12:15] Dhruvi16 commented on #85
YES! I will update you on this soon. Sorry for the delay.

[2020-01-26 13:17] gauravahlawat81 commented on #100
Hey, I have fixed this issue

[2020-01-27 13:32] AmanR28 commented on #79
I will post a PR on this soon.

[2020-01-27 14:11] #90 closed

[2020-01-27 14:54] makkoncept opened #102 ""Select all" button freezes in the bookmarks section"
**Describe the bug**
The following course of action freezes the select all button in the bookmarks section (checkout the gif below)
click on the _select all_ button so the images are selected --> press the _home_ icon to go to the search section  --> go back to the bookmarks section --> press the _select all_ button again.

**To Reproduce**
Steps to reproduce the behavior:
1. Bookmark some images

[2020-01-27 18:53] AmanR28 commented on #102
@makkoncept  Can I fix it, please?

[2020-01-27 18:58] makkoncept commented on #102
@AmanR28 Can you please solve the issue assigned to you first (#79). This is to avoid confusion and letting others get a chance to contribute to the project. If it remains unassigned after we have solved the issue, you can take it up.

[2020-01-28 06:36] AmanR28 commented on #102
@makkoncept I felt that it was fault in my code, and I know how to fix it (Code is ready), so I should fix it.

[2020-01-28 07:08] makkoncept commented on #102
Okay, Submit the PR when you are ready.

[2020-01-28 07:20] #100 closed

[2020-01-28 16:21] aryamanpuri commented on #98
@makkoncept Can I work on this?

[2020-01-28 16:34] makkoncept commented on #98
@aryamanpuri yeah, go ahead

[2020-01-28 16:47] aryamanpuri opened #103 "Unable to fetch Providers"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-01-28 16:48] #103 closed

[2020-01-28 16:53] aryamanpuri opened #104 "Unable to fetch the query given by the user"
Browser: Google Chrome
@makkoncept

![Screenshot from 2020-01-28 22-19-39](https://user-images.githubusercontent.com/43513114/73285833-a4d28900-421c-11ea-9a61-3c1998ebabba.png)
It does not give any result on doing a search , just loading

[2020-01-28 17:14] makkoncept commented on #104
This notification is triggered when the extension is not able to fetch the Provider list from the API and backup provider list is used. Maybe the internet was not connected when you were searching. Can you confirm that this was not the case. BTW, is this extension from the google store or you have build it locally?

[2020-01-28 17:24] aryamanpuri commented on #104
@makkoncept Internet is working properly, and I have built it locally.

[2020-01-28 17:31] makkoncept commented on #104
I have just cloned the repository and build it. It is working for me. Can you open the following url in your browser? (https://api.creativecommons.engineering/image/search?q=hello)

[2020-01-28 17:37] aryamanpuri commented on #104
@makkoncept Okay I got it, the link is blocked here, so the problem lies in my side.

[2020-01-28 17:39] makkoncept commented on #104
Yeah, maybe a VPN can help.

[2020-01-28 17:39] #104 closed

[2020-01-28 20:57] makkoncept opened #105 "Remove the "Export bookmark button" in the options page"
Since selecting and exporting the bookmarks can be done from the popup in the bookmarks section, there is no need for the "Export Bookmarks" button in the options page. Though "Import bookmarks" button and file select field is still needed.

![Screenshot (260)](https://user-images.githubusercontent.com/34679965/73305195-9e093d80-423f-11ea-8c2b-5a5f9692e4e7.png)

[2020-01-29 07:53] makkoncept opened #106 "Some creator links are opening the extension in the new tab"
**Describe the bug**
When we click on the creator link in the information popup, it opens the creator profile on a website (like flickr ) in a new tab. But some creator links instead opens the extension in a browser tab.
In the API response, not every image has a creator url associated with it. For those instances, the creator url is set to "#". Instead, the creator name should be rendered as plai

[2020-01-29 11:43] makkoncept commented on #98
@aryamanpuri Did you figured out the solution of the problem you were facing yesterday(#104)? Can you please confirm that you are working on this issue ?

[2020-01-29 11:47] #102 closed

[2020-01-29 12:20] aryamanpuri commented on #98
@makkoncept Yes it working now, and looking forward to solve the issue.

[2020-01-29 12:47] gauravahlawat81 commented on #106
Can I take up this issue ?

[2020-01-29 12:48] gauravahlawat81 commented on #106
Also how can I search for good issues by myself ? I don't want to keep solving the easy ones :(

[2020-01-29 13:07] makkoncept commented on #106
@gauravahlawat81 sure, go ahead.
The focus now is in pseudo rolling release of the extension. Each release fixes a couple of bugs and sometimes add atleast one feature. I am sure that as soon as we are done with the issues related to the release of `v1.2.6`, new batch of interesting issues will be there for you to work on. You can, of course, look at the current unassigned open issues.

[2020-01-29 13:46] aryamanpuri commented on #98
@makkoncept This problem is due to the fixed Footer so unless it is changed to the end of the page this problem will occur. What are your views on this?

[2020-01-29 18:10] AmanR28 commented on #98
@aryamanpuri Try giving some margin at bottom.

[2020-01-29 19:50] makkoncept commented on #98
@aryamanpuri Make the PR with whatever best solution you can come up with, we can modify and polish it there only.

[2020-01-30 17:11] #105 closed

[2020-01-30 17:13] #106 closed

[2020-01-30 17:46] DantrazTrev commented on #86
Can I work on this issue ?

[2020-01-30 17:50] DantrazTrev commented on #84
Hey , can I work on this ? Sorry I didn't knew the pattern for this repo ( There is already a PR)

[2020-01-30 18:11] makkoncept commented on #84
Yeah, I will be testing your PR soon.

[2020-01-30 18:14] makkoncept commented on #86
@AmanR28 Are you working on this one?

[2020-01-31 08:00] DantrazTrev commented on #85
Hey @Dhruvi16 are you still working on this issue?

[2020-01-31 08:31] AmanR28 commented on #86
@makkoncept This issue is a complementary feature for #79, on which i have a PR #109.

I will make a PR on this as soon as possible after issue #79 gets closed

[2020-01-31 08:32] AmanR28 commented on #86
@DantrazTrev  I am working on it.

[2020-02-01 08:15] makkoncept commented on #98
@aryamanpuri are you working on this? We have to fix this bug in the next release (which is scheduled on Monday)

[2020-02-01 08:36] aryamanpuri commented on #98
@makkoncept I am not able to give time to this issue.
can you assign someone else?

[2020-02-01 10:27] #98 closed

[2020-02-01 20:37] #79 closed

[2020-02-02 14:00] AmanR28 opened #120 "Add Clear Search Option to clear search"
**Is your feature request related to a problem? Please describe.**
As the search is getting stored, so the user might want to clear stored search, instead of disabling the whole feature.

**Describe the solution you'd like**
Add a clear search icon to clear the search

**Additional context**
PS:: I want to work on it.

@makkoncept  Please Review

[2020-02-03 08:11] #87 closed

[2020-02-03 11:14] makkoncept commented on #120
@AmanR28 Looks like a good idea! This was actually the main reason why the option to toggle off the search in localstorage is needed, because some users might want to start a fresh session when they open the extension.
An icon that would clear the search, both from the UI and the localStorage, would be a good addition.

I suppose we need to merge #119 before you can work on this (?). A lot is happ

[2020-02-03 11:31] makkoncept opened #124 "Search section does not reset when after an invalid search query"
**Describe the bug**
When the user enters a search query, the previous image thumbnails are removed from the grid. If the new query is invalid, then there are not any images to fill the grid as the API response returns a validation error. Though the user is notified that the query is invalid, the image grid is of the same size. Refer the gif below.

**To Reproduce**
Steps to reproduce the behavior

[2020-02-03 15:25] AmanR28 commented on #120
They might be independent.

[2020-02-03 16:00] makkoncept commented on #120
Okay :+1:

[2020-02-03 22:11] makkoncept commented on #87
@swaldman3 we have added CC search syntax guide in the options page which you can refer to for tips to make your queries more powerful. The update is live on all the browsers.

[2020-02-04 12:59] Blackcipher101 opened #125 "Adding a button to get embed code"
**Is your feature request related to a problem? **
I didn't get it that if you click the photo you get embed code there is no way to make it out

**Describe the solution you'd like**
A small button which appears when you hover over the image
which looks like ``<\>``
**Additional context**
![Screenshot from 2020-02-04 18-28-40](https://user-images.githubusercontent.com/33775493/73746864-36da1480-47

[2020-02-04 13:46] sharmaaditya570191 commented on #63
Can someone take this up please?

[2020-02-04 17:33] makkoncept commented on #125
@Blackcipher101 By `embed code`, do you mean an HTML image tag with the image as the source or the license attribution of the image?

[2020-02-04 17:33] Blackcipher101 commented on #125
Yes

[2020-02-04 17:38] makkoncept commented on #125
@Blackcipher101 license attribution?

[2020-02-05 02:49] Blackcipher101 commented on #125
The html tag code

[2020-02-05 12:36] Blackcipher101 commented on #125
I can think I can solve it I will start working on it

[2020-02-05 13:04] makkoncept commented on #125
@Blackcipher101 I think this feature is not needed in the extension. The space available on the image thumbnails is already cluttered(with name, provider icon, license icons and bookmark icon) and only the absolutely necessary icons are to be placed there. I don't think this icon is necessary because:
- The user-base of the extension is very diverse (teachers, blog writers, scientists etc). The wo

[2020-02-05 14:11] makkoncept opened #126 "Add a section about how to debug the extension during development in the readme."
**Is your feature request related to a problem? Please describe.**
Unlike in chrome and opera, debugging in firefox is not very intuitive. Also, if you are a beginner, even chrome and opera can cause some problems.

**Describe the solution you'd like**
Add a section in the README of how to debug the extension on chrome, opera and firefox. You can checkout https://github.com/creativecommons/ccsearc

[2020-02-05 14:30] #125 closed

[2020-02-05 17:21] jsbentley34 commented on #126
All for one one for all

[2020-02-06 17:46] makkoncept opened #129 "Change the snackbar message when the backup providers are loaded"
When the extension does not get the provider list from the API, it uses the backup providers (hard-coded provider list) so that the provider filter dropbox is not empty.
The user is notified about this in a snackbar message.

![Screenshot from 2020-02-06 23-01-10](https://user-images.githubusercontent.com/34679965/73962830-2a4cec00-4935-11ea-9745-78747eba9a2c.png)

Change the snackbar message to `

[2020-02-07 07:41] #85 closed

[2020-02-07 14:45] #86 closed

[2020-02-07 23:32] alti21 commented on #129
Hi, can I work on this issue?

[2020-02-08 10:20] makkoncept commented on #129
@alti21 sure, go ahead.

[2020-02-08 18:04] alti21 commented on #129
Hi @makkoncept when I run npm run dev I am getting an error: 'rm' is not recognized as an internal or external command, operable program or batch file.
This comes from the script: "clean": "rm -rf './dist'"

[2020-02-09 07:02] Blackcipher101 commented on #63
@sharmaaditya570191 @makkoncept Is it fine if it is a browser message

[2020-02-09 12:39] makkoncept commented on #129
@alti21 You must be running the command on windows command prompt, which does not support UNIX commands. You can use [git bash](https://gitforwindows.org/)(which support some basic UNIX commands) or Windows subsytem for linux [[WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10)] (which is basically linux kernel running in harmony with the windows OS).

[2020-02-09 12:43] makkoncept commented on #63
@Blackcipher101 No, because on some browsers the extension closes if a different popup opens anywhere else in the browser (eg: firefox).
You can go through the conversation in #82, I have written some implementation details there.

[2020-02-10 12:11] makkoncept opened #131 "Improve the select/deselect mechanism of the button in bookmarks section"
**Present Behaviour**
- In the bookmarks section, on clicking the "Select all" button, all the bookmarks are selected and the button now reads "Deselect all". But, as soon as the user manually deselect a single bookmark, the button changes back to "Select all".
- If the user goes to the bookmarks section and manually select some images. The button does not change to "Deselect all" until and unless

[2020-02-11 17:35] DantrazTrev commented on #124
I've resolved the issues in the PR can i take up this issue

[2020-02-11 17:52] DantrazTrev commented on #129
Hi @alti21 is this issue still open and are you still working on it

[2020-02-11 17:56] DantrazTrev commented on #131
Can I take up this issue?

[2020-02-11 18:34] alti21 commented on #129
Hi, actually I will pass on this issue for now

On Tue, Feb 11, 2020, 9:52 AM Dantraz <notifications@github.com> wrote:

[2020-02-11 19:10] makkoncept commented on #124
@DantrazTrev I have reviewed the PR and added some comments. You can work on a different issue after the PR is finally merged.

[2020-02-11 19:20] makkoncept opened #132 "Remove the redundant stylesheet rules in _grid.scss"
There are some rules defined in [_grid.scss](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/src/popup/sass/layout/_grid.scss) that are not used in the extension at all (eg: `.col-1-of-3`, `.col-2-of-3`. In addition to that, a few redundant properties are also present. Remove them. Make sure that you do not break anything.

[2020-02-11 19:46] #120 closed

[2020-02-11 20:15] makkoncept opened #134 "Improve the UI of "Clean Search" button"
**Is your feature request related to a problem? Please describe.**
The "Clear Search" button becomes visible when the user search for something. By clicking it, the search results are removed from the local Storage and image grid.

**Present UI**
- a small cross enclosed inside a red square.
- Both the color and the position is odd.

![74013862-66269680-49b3-11ea-99e6-cec6ae68fbb1](https://user-im

[2020-02-12 05:26] AmanR28 commented on #134
Can i claim this issue ??

[2020-02-12 07:22] makkoncept commented on #134
@AmanR28 Go ahead

[2020-02-12 17:14] #84 closed

[2020-02-12 17:16] #129 closed

[2020-02-12 17:30] makkoncept opened #136 "Remove unused variables from base.js"
Most of the variables in the code are defined inside `elements` object in `base.js`. Check that all of them are being used somewhere outside `base.js` and if not, remove them. (for eg: `getBookmarks` is redundant).
You can complete this task easily by using the search feature of any modern editor.

[2020-02-13 01:35] DantrazTrev commented on #136
Can I take up this one?

[2020-02-13 09:33] makkoncept commented on #134
@AmanR28 Please make the PR soon, as v1.2.7 gotta be released in a couple of days and this issue is  the bottleneck.

[2020-02-13 15:24] AmanR28 commented on #134
![Contols_-_Add_On-35-512](https://user-images.githubusercontent.com/54908728/74449191-38a18780-4ea2-11ea-9bd9-c7676ae05aaf.png)

@makkoncept Is this UI of close button alright!

Should I keep the position the same as it is, as other putting the button at bottom line will make user wander what it is?
As the users know that a cross inside the input box clears the search, perhaps the one that is out

[2020-02-13 15:33] makkoncept commented on #134
@AmanR28 The icon is fine.
The position that you are recommending might not look good in my opinion but it can be a good starting point for the implementation in the PR.

[2020-02-14 19:29] #134 closed

[2020-02-15 16:43] #131 closed

[2020-02-15 17:14] makkoncept opened #141 "Move the utils from bookmarkModule.js to another file"
_bookmarkModule.js_ has become nearly 400 lines long. For easy integration of new features, bug fixes and overall maintenance, we must move the utility functions and objects to a different file.

Care should be taken that after the change nothing is left broken and all the effected imports are updated. Also, add the changes  that you have made w.r.t to the issue below.

**Changes**
- [x] Make `boo

[2020-02-15 17:26] makkoncept commented on #136
@DantrazTrev Let's first merge your pending PR. I have added a review comment on it.

[2020-02-19 20:57] kgodey opened #143 "Set up landing page for the browser extension."
Some feedback we got on Twitter about sending people to the blog post for information about the browser extension:

I think it would be good to create a simple static landing page using Vocabulary and hosted on GitHub Pages that just provided easy links to install the extension + a bit of background. We can use this as a homepage for the extension.

@makkoncept, I'm assigning to you to flesh it ou

[2020-02-19 20:58] kgodey opened #144 "Upgrade CC Catalog API usage to v1"
@makkoncept, I'm assigning to you to flesh this out further and make this issue ready for contribution. Let me know if you have questions.

[2020-02-20 06:38] thescriptninja commented on #132
Hi! Can I work on this?

[2020-02-20 09:38] makkoncept commented on #132
@thescriptninja sure, go ahead.

[2020-02-20 15:30] makkoncept opened #146 "API v1: Update the getProviderUrl in fetchProviders()"
The extension loads the latest image sources from the catalog API every time it starts. The sources are loaded  at two places (filter dropdown and  options page). Both of these uses [fetchProviders() function in utils](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/src/utils.js#L59).

- Update the api url from https://api.creativecommons.engineering/statistics/image to h

[2020-02-20 16:00] makkoncept opened #147 "API v1: Update getRequestUrl in SearchModule.js and SearchModule.test.js"
The [getRequestUrl() in SearchModule.js](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/src/popup/searchModule.js#L35) returns the API URL with the necessary query parameters that must be used to search for the images.
- Change the API endpoint from https://api.creativecommons.engineering/image/search to https://api.creativecommons.engineering/v1/images
- Since the new A

[2020-02-20 16:49] makkoncept opened #148 "API v1: update the sample image detail response in infoPopupModule test"
In [InfoPopupModule.test.js](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/tests/infoPopupModule.test.js), `getHtmlAttribution` and `getPlainAttribution` functions are tested. For that, we have a sample image detail response object defined.

Update the response object according to the new version of the API. Use the same image id(`bafff537-0c74-4fa6-9867-401e440e97f5`)

[2020-02-20 17:08] makkoncept opened #149 "API v1: update getImageData() and LoadImages()"
[getImageData(id) in infoPopupModule.js](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/src/popup/infoPopupModule.js#L163) and [loadImages() in bookmarkModule.js](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/src/popup/bookmarkModule.js#L82) uses the image search endpoint of the cc catalog API ([old docs](https://api.creativecommons.engineerin

[2020-02-20 17:11] makkoncept commented on #144
Related Issues:
- [ ] #146
- [ ] #147
- [ ] #148
- [ ] #149

More will be added as I complete digging through the code.

[2020-02-21 13:45] makkoncept opened #150 "API v1: make host permissions more explicit for the new API version"
In the chrome and opera manifest files, update the wildcard entry of the catalog API from https://api.creativecommons.engineering/* to https://api.creativecommons.engineering/v1/*.

[2020-02-21 13:46] makkoncept commented on #150
Blocked for now.

[2020-02-21 14:04] makkoncept opened #151 "API v1: Update providers to sources"
The catalog API version 1 refers to `provider` as `source`. The change has been made across query parameters, endpoints and response object keys. Most of the changes would be adopted automatically when all the other issues pertaining to the migration to the new API version are solved. But, in order to make things consistent both for the developers and the users, we should modify both the code and

[2020-02-21 14:05] makkoncept commented on #151
Blocked by https://github.com/creativecommons/cccatalog-api/issues/421

[2020-02-21 16:45] techievivek commented on #126
@makkoncept If no one is working on this, can I take this one?
Thank you

[2020-02-21 17:16] makkoncept commented on #126
@techievivek go ahead!

[2020-02-21 23:51] keshav2212 commented on #136
Hi @makkoncept, Can I work on this issue ?

[2020-02-22 01:38] vrameshj commented on #146
Hi, I'd like to take up this issue.

[2020-02-22 01:49] vrameshj commented on #148
Hi, would like to take this up.

[2020-02-22 02:24] Arunhari333 commented on #147
I would like to work on this issue

[2020-02-22 03:48] Arunhari333 commented on #149
I would like to work on this issue

[2020-02-22 04:14] makkoncept commented on #149
@Arunhari333 Thanks for showing the interest to contribute to this project! Let's work on a single issue at a time. You already have submitted a PR for a different issue.

[2020-02-22 04:15] makkoncept commented on #148
@vrameshj Sure, go ahead!

[2020-02-22 04:17] makkoncept commented on #146
@vrameshj Let's work on a single issue at a time. I have assigned you another issue on which you commented.

[2020-02-22 04:17] makkoncept commented on #136
@keshav2212 Sure, go ahead.

[2020-02-22 07:19] keshav2212 commented on #136
@makkoncept Thanks, I have sent the PR for it.

[2020-02-22 12:11] #147 closed

[2020-02-22 12:13] makkoncept commented on #149
@Arunhari333 You can take this up. Please confirm by commenting if you start working on this.

[2020-02-22 14:51] Arunhari333 commented on #149
@makkoncept Yes, I am still interested

[2020-02-22 17:27] #136 closed

[2020-02-22 17:28] Arunhari333 commented on #149
Should only provider_code in loadImages() and provider in getImageData() be changed? Or should provider be changed to source in other places like popupProvider, css classes etc?

[2020-02-22 17:41] techievivek commented on #126
@makkoncept  Do I have to create a new heading under Installation for debugging instruction or I should add in Installation heading itself?
I have tested for all the 3 browsers. (Opera and Chrome have same debugging style.)

[2020-02-22 21:07] techievivek opened #157 "Confirm with user if they want to clear the search."
**Is your feature request related to a problem? Please describe.**
![clear btn](https://user-images.githubusercontent.com/35863227/75099213-0a7c2000-55e5-11ea-85ef-8822d61fddfd.png)
At times when user wants to click on the **filter button**, by mistake, they click on the **clear button** as they are closeby and there is no defined boundary/border visible between them, so there must be an extra opt

[2020-02-23 07:25] CodeMonk263 commented on #146
Can i work on this issue

[2020-02-23 08:11] makkoncept commented on #149
@Arunhari333 Just stick to the code that is logically connected to the function `loadImages()` and `getImageData()`. For example the variable [providerImageElement](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/src/popup/bookmarkModule.js#L126) needs to be changed to `sourceImageElement` but changing something not connected (for eg [providerAPIQueryStrings](https://gith

[2020-02-23 08:24] makkoncept commented on #126
@techievivek I have added some review comments your PR. Please take a look.

[2020-02-23 09:27] makkoncept commented on #146
@CodeMonk263 go ahead

[2020-02-23 10:33] Arunhari333 commented on #149
Ok done, but before I commit, there is a variable [provider](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/src/popup/bookmarkModule.js#L104) used in `bookmarkModule.js`. Since `provider_case` was renamed to `source`, provider cannot be given the same name, so I did not change it, is that ok?

[2020-02-23 14:14] makkoncept commented on #149
I think that you can change variable name of [provider](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/src/popup/bookmarkModule.js#L104) to `source` as being a local variable to the function `loadImages` it won't create a problem?

[2020-02-23 15:03] Arunhari333 commented on #149
Right.

[2020-02-24 06:52] Arunhari333 commented on #149
Ok. Done.

[2020-02-25 12:43] makkoncept commented on #157
@techievivek Nice idea!

This can be broken down into two things:
- Ask for confirmation in a popup if the user wants to indeed clear the search results.
- Add a checkbox on the options page to toggle this feature.

This issue will focus on the first objective.

**Confirmation popup box implementation**

Taking from the conversation in https://github.com/creativecommons/ccsearch-browser-extension/

[2020-02-25 12:51] techievivek commented on #157
@makkoncept yeah exactly what you have explained. So do I have to add another issue too?

[2020-02-25 12:55] makkoncept commented on #157
Let me make the issue. If you want to work on this, comment below after we have merged your pending PR.

[2020-02-25 12:59] makkoncept opened #159 "Add checkbox option to toggle on/off confirmation popup before clearing search results."
This is an extension of https://github.com/creativecommons/ccsearch-browser-extension/issues/157.

The checkbox can be added under the "Other Settings" tab on the options page.  Make sure that by default this feature should be turned off.

[2020-02-25 13:09] techievivek commented on #157
@makkoncept Please have a look I have added the updated image for inspecting in chrome.

[2020-02-25 13:24] techievivek commented on #157
@makkoncept Yes I would like to work on this one.

[2020-02-25 15:49] techievivek opened #160 "CC Search extension page on mozilla site says it's not a recommended extension."
**Is your feature request related to a problem? Please describe.**
[CC search extension](https://addons.mozilla.org/en-US/firefox/addon/cc-search-extension/) page on Mozilla says it's not a recommended extension.
![not-recommended-firefox](https://user-images.githubusercontent.com/35863227/75263635-45b06600-5814-11ea-892c-5b77fa9401cd.png)

**Describe the solution you'd like**
There are 2-ways to

[2020-02-25 16:21] #126 closed

[2020-02-25 17:35] techievivek commented on #157
@makkoncept You can assign me this one now.
Thank you.

[2020-02-25 17:47] #149 closed

[2020-02-26 10:53] makkoncept commented on #160
From the discussion on Slack:

[2020-02-26 13:52] makkoncept opened #161 "Modify and Improve the "Delete all" button functionality"
**Is your feature request related to a problem? Please describe.**

There is a button "Delete all" in the bookmark section which deletes all the bookmarks.

The export bookmark feature has also been moved from the options page to the bookmarks section. So, now we have two more buttons (refer to the screenshot below). Users can manually select the bookmarks they want and then export them by clickin

[2020-02-26 14:10] makkoncept opened #162 "Host the readme images on imgur"
**Is your feature request related to a problem? Please describe.**
10 images(670 kb) were added to the repository in https://github.com/creativecommons/ccsearch-browser-extension/pull/156. Their size is more than that of `src/` directory (which also has the license and provider images).

**Describe the solution you'd like**
Upload the image to Imgur and edit the readme to update the images src. Ma

[2020-02-26 17:55] techievivek commented on #157
@makkoncept I will make this modular, please go through it and let me know what else I can improve.

[2020-02-26 19:25] makkoncept commented on #157
@techievivek You can start by removing the lint errors and warnings.

[2020-02-27 07:57] techievivek commented on #157
@makkoncept I will make a utility function that will accept a message, function to be called if pressed yes and function to be called if pressed no.
In fact, I am planning to even make more generic by setting user-defined value for buttons in the popup.
So that it can be used everywhere as a popup.
So (message, yes_function(), no_function(), cancel_text, ok_text) these will be the field.

[2020-02-27 10:15] cristomathew commented on #124
Is it still available? Can I take it up.

[2020-02-27 11:58] makkoncept commented on #124
@cristomathew Sure, go ahead!

[2020-02-27 12:27] makkoncept commented on #157
Sounds good. I have reviewed your PR again. Let me know if you have any queries.

 Also, let's have the conversation about the implementation on the PR.

[2020-02-27 17:58] lakshaybits commented on #162
Hi @makkoncept , Can I work on this issue ?

[2020-02-27 18:23] makkoncept opened #165 "API v1: Most image results are not rendering"
**Describe the bug**
The image thumbnails of the search results are not rendering. This happens for nearly 95% of the images.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure that you have pulled the latest changes
2. Search for anything
3. See error

**Expected behavior**
The thumbnails should render.

**Screenshots**

![Screenshot from 2020-02-27 22-31-07 (1)](https://user-images.

[2020-02-27 18:30] makkoncept commented on #162
@lakshaybits go ahead.

[2020-02-27 18:35] techievivek commented on #165
@makkoncept yes, I was receiving the same error, this is probably from end-point.

[2020-02-27 18:38] techievivek commented on #165
@makkoncept Even without pulling the recent change, it is not rendering. And the error shows as 403 error.

[2020-02-28 10:29] makkoncept opened #166 "API v1: Source icons not rendering over the thumbnails"
**Describe the bug**
While probing the issue #165, I have observed that those few image thumbnails that are rendering properly don't render the source icons.

![Screenshot from 2020-02-27 22-31-26](https://user-images.githubusercontent.com/34679965/75540763-ade48f00-5a42-11ea-8dad-53c8191efc4a.png)

This is most probably a result of one of the PRs related to the transition to API v1.

Also, take t

[2020-02-28 16:09] cristomathew commented on #165
It seems to be an error from the client side, most probably the client does not have proper authorisation to access the content.

[2020-03-01 14:29] #124 closed

[2020-03-01 14:40] cristomathew commented on #132
@thescriptninja are you still working on this

[2020-03-01 14:41] cristomathew commented on #146
@CodeMonk263 are you still working on this

[2020-03-01 20:24] thescriptninja commented on #132
@cristomathew I unable to find more redundancies than I did in #145 . Not currently working on it.

[2020-03-02 02:35] harsh551 commented on #132
Is anyone working on this issue ??

[2020-03-02 02:39] harsh551 commented on #161
Hey, can I work on this issue?

[2020-03-02 02:47] cristomathew commented on #132
So if possible can i check it out.

[2020-03-02 02:55] makkoncept commented on #161
@harsh551 go ahead.

[2020-03-02 02:56] makkoncept commented on #132
@harsh551 I have assigned you an issue. @cristomathew go ahead with this one

[2020-03-02 03:00] #165 closed

[2020-03-02 03:10] makkoncept commented on #63
This issue has grown to be outdated and redundant as in issue #161 we are improving the workflow to delete the bookmarks.

[2020-03-02 03:10] #63 closed

[2020-03-02 03:32] makkoncept opened #168 "Clicking on icons is not always precise."
**Describe the bug**
For example, sometimes when clicking on the filter icon, the search icon is clicked.

**Cause**
This is due to the very high padding on the individual icons.
![Screenshot from 2020-03-02 08-53-31](https://user-images.githubusercontent.com/34679965/75643215-545baa80-5c64-11ea-8f8a-53617d77a7f9.png)

**Solution**
Decrease the padding, or remove it altogether. Then the readjustme

[2020-03-02 04:05] makkoncept opened #169 "API v1: Adopt the new error response schema"
**Is your feature request related to a problem? Please describe.**

The response schema of the API response in case of an error is better in version 1.0. For example, check out https://api.creativecommons.engineering/v1/images?q=+ and https://api.creativecommons.engineering/image/search?q=+

For every search, [checkValidationError](https://github.com/creativecommons/ccsearch-browser-extension/blob

[2020-03-02 04:07] Maxslide commented on #168
Hey, i would be interested to solve this issue

[2020-03-02 04:08] makkoncept commented on #168
@Maxslide go ahead

[2020-03-03 02:17] Maxslide commented on #169
I would like to work on this issue

[2020-03-03 09:26] Maxslide commented on #168
Hey, I have sent a pull request, kindly review it

[2020-03-03 11:37] makkoncept commented on #169
@Maxslide Let's work on a single issue at a time. I have reviewed your PR and changes are needed before we can merge it.

[2020-03-03 16:41] #166 closed

[2020-03-03 17:02] #148 closed

[2020-03-03 17:41] makkoncept opened #175 ""Apply" and "Reset" buttons are not clickable after clearing search results"
**Describe the bug**
When there are images in the grid, then the "Apply" and the "Reset" buttons are clickable. But when we clear search, then they are not.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to Click on the buttons when images are in the grid.
2. Try to Click on the buttons when images are not in the grid.
3. See error

**Expected behavior**
They should be clickable irrespe

[2020-03-03 17:42] #146 closed

[2020-03-03 19:01] #175 closed

[2020-03-04 05:34] #168 closed

[2020-03-04 06:28] makkoncept commented on #144
The core functions and workflow have been upgraded to the API v1.0. An update has been pushed for review on the browser extension stores with some important bug fixes ([changelog](https://github.com/creativecommons/ccsearch-browser-extension/releases/tag/v1.2.8)).

[2020-03-05 20:57] preetmishra commented on #162
@lakshaybits Hey, are you still working on this?

[2020-03-06 11:53] lakshaybits commented on #162
@preetmishra  Yes, actually i have exams going on, so i was not able to give much time. I will complete it in a day or two.

[2020-03-06 12:08] preetmishra commented on #162
@lakshaybits Alright.

[2020-03-07 06:43] cristomathew commented on #132
Hi it seems everything is fine in grid.scss and nothing much to edit.

[2020-03-07 07:55] #157 closed

[2020-03-07 07:57] makkoncept commented on #132
No problem! Closing this.

[2020-03-07 07:57] #132 closed

[2020-03-07 08:01] techievivek commented on #159
@makkoncept Can I work on this one now?

[2020-03-07 08:05] makkoncept commented on #159
@techievivek Sure, go ahead!

[2020-03-07 17:04] makkoncept opened #178 "Remove instances of "error-message" instances."
The span with `error-message` in `popup.html` ([here](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/src/popup/popup.html#L72)) is not being used in the extension. Remove instances of it (like the span, element selector, stylesheet rules, etc) from the code.

[2020-03-08 03:36] cristomathew commented on #178
can i go ahead with it

[2020-03-08 08:58] makkoncept commented on #178
@cristomathew Yeah, you can.

[2020-03-08 09:22] #162 closed

[2020-03-09 08:23] #161 closed

[2020-03-09 09:47] makkoncept opened #180 "Use masonry grid to reorganize the bookmark thumbnails after some of them are deleted"
**Is your feature request related to a problem? Please describe.**
This is an extension of #161.
The "delete" button now, instead of deleting all the bookmarks at once, deletes only the selected bookmarks. But, after deleting the selected bookmarks, all the remaining ones are reloaded again.
Even if the user deletes a single image, the whole bookmarks section is loaded again. Imagine having a very

[2020-03-09 10:20] makkoncept opened #181 ""Select All" button toggles even when there are no bookmarks"
**Describe the bug**
"Select All" button toggles to "Deselect All" even when there are no bookmark images to select.

This only happens when there were some bookmarks at the start of the session and the user has deleted them.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the bookmarks section (make sure there is at least one bookmark).
2. Click on the "Select All" button.
3. Click on

[2020-03-09 10:31] makkoncept opened #182 "Deleted bookmarks are also exported (in the same user session)"
**Describe the bug**
In the same user session, the deleted bookmarks also make their way into the exported bookmarks.
Follow the steps below to reproduce.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the bookmarks section (make sure to have at least1 bookmark).
2. Select some bookmarks (you can also click on "Select all")
3. Click on "Export bookmarks".
4. Now delete the selected bo

[2020-03-09 14:10] lakshaybits commented on #181
Hi @makkoncept , Can i work on this issue?

[2020-03-09 14:57] cristomathew commented on #169
Hi Can I work on this

[2020-03-09 16:48] makkoncept commented on #169
@cristomathew  You can work on 1 issue at a time. Your PR is still not merged. I have reviewed it. Post any queries that you may have on the PR.

[2020-03-09 16:48] makkoncept commented on #181
@lakshaybits go ahead.

[2020-03-09 18:29] #180 closed

[2020-03-09 18:32] kss682 commented on #169
Hi , Can I work on this issue.

[2020-03-09 18:35] makkoncept commented on #169
@kss682 go ahead. Make sure to read [CONTRIBUTING.md](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/CONTRIBUTING.md).

[2020-03-09 18:53] kss682 commented on #169
@makkoncept So currently when an input error occurs  the response is "Not a valid search query" that should be made to "InputError".

[2020-03-10 02:14] techievivek commented on #159
@makkoncept I have implemented the functionalities for settings, I just have to check everytime one clicks on clear button. So should I continue development in the same branch of the modal one as I will be requiring those features or I should create a new branch?

[2020-03-10 07:29] avivith commented on #182
Hi. Can I take this issue?

[2020-03-10 11:45] makkoncept commented on #182
@avivith go ahead. Make sure to read the [CONTRIBUTING.md](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/CONTRIBUTING.md) and contributions and pr guidelines linked in there.

[2020-03-10 12:23] makkoncept commented on #159
The changes have been merged into the master. So, you can pull those changes and then checkout a different branch for this issue's PR. A different branch would be a lot better.

[2020-03-10 12:32] techievivek commented on #159
@makkoncept ok sure.

[2020-03-10 22:40] avivith commented on #182
The problem was with the "delete (all)" button, which fix #180 solved.

[2020-03-11 06:54] makkoncept commented on #182
@avivith I have also tested this and it seems to have been resolved. Thanks for pointing this out!

[2020-03-11 06:54] #182 closed

[2020-03-11 07:02] #169 closed

[2020-03-11 16:54] #178 closed

[2020-03-11 17:06] makkoncept opened #190 "Add prettier(code formatter) to the project"
This project has refrained from adding and forcing a particular code formatter on the developers. But, I think it's time to change this. The main reason behind this being a significant amount of inconsistent code  (as far as the formatting is concerned ) has made its way into the codebase. Most of the time even simple lint errors, which can be removed by proper formatting, are pushed to the PR and

[2020-03-12 12:51] techievivek commented on #190
A must for this project, will give a sense of relief for sure.

[2020-03-13 15:34] #159 closed

[2020-03-13 17:31] makkoncept opened #193 "Reformat all the core files according to new eslint/prettier config"
Remove all the core files according to the new eslint/prettier config (introduced in #192). This will remove all the lint errors.

[2020-03-13 17:32] #190 closed

[2020-03-13 17:42] #193 closed

[2020-03-13 17:50] makkoncept opened #195 "Update formatting/linting instructions of the project"
In #192, a code-formatter (prettier) was added to the project and eslint config was tweaked so that they both work together seamlessly (`eslint` will take care of a good code style and `prettier` will handle the code formatting).

We need to update the formatting/linting instructions mentioned in `INTRUCTIONS.md` so that new developers could easily get started with the project.

[2020-03-13 18:33] techievivek commented on #143
@makkoncept @kgodey I have no pending PR and I am interested to work on this as I will get my hands on the `Vocabulary design system`. Also, I understand the essence of this as not everyone is a developer so this will make everyone feel home.
First, we can work on the designs and images and then once it is ready I will start developing.
For inspiration: https://www.grammarly.com/
**Suggestion**
We

[2020-03-13 18:45] makkoncept commented on #143
@techievivek thanks for showing interest in this issue. Can you please elaborate on what are you planning to build the site on? and how will you go about integrating vocabulary with it?

[2020-03-13 18:56] techievivek commented on #143
@makkoncept I am planning to style the site using vocabulary CSS along with some custom CSS, if required.
It will be pure HTML+ vocabulary CSS and JS.
It will be a single page static website with some good images/gif, buttons and little text content.

[2020-03-13 18:57] techievivek commented on #143
I won't be using the Vue version.

[2020-03-13 19:05] techievivek commented on #143
@makkoncept I have no prior experience with Vocabulary so tomorrow I will set up everything, play with it for some time and will update you on how exactly I will be proceeding with it and discuss things that I am not clear about.

[2020-03-13 19:15] makkoncept commented on #143
@techievivek One major problem will occur when using vocabulary CSS. Some of the major components of the vocabulary have dynamic nature which can not be achieved only by CSS and then to make them work we have to write custom JavaScript (which could lead to errors or inconsistencies).

I am not saying that writing custom JavaScript to make the components work is the worst thing in the world but sin

[2020-03-13 19:17] kgodey commented on #143
@makkoncept we're rewriting Vocabulary, the components you're referring to will no longer be available. We'll be mostly using it via CSS and we'll only have a minimal subset of components in Vue. Many of the changes have already been made.

[2020-03-13 19:20] makkoncept commented on #143
Oh, nice to hear this! I was not up to date with the development of vocabulary. So, when will be the documentation or a starting guide be made available?

[2020-03-13 19:26] kgodey commented on #143
Documentation is at https://cc-vocabulary.netlify.com/ and https://cc-vue-vocabulary.netlify.com/ (currently empty) and is being updated regularly.

We don't have a getting started guide yet. It would be great if you could look at the current documentation and let us know what questions you have, it will help us figure out what documentation we need to write next.

[2020-03-13 19:37] makkoncept commented on #143
Okay, great :+1:

[2020-03-13 19:47] makkoncept commented on #143
@techievivek I am assigning this to you. If you face any problems, do let us know. I will be also learning with you :)

[2020-03-14 03:55] techievivek commented on #143
@makkoncept Can we discuss on what and all things should we include in the page. And what will be the flow of information from top to bottom of the page?
Also, I am thinking of giving **sectional links** in the navbar, to navigate to different sections of the page.
Please guide me through this.

[2020-03-14 06:58] Blackcipher101 commented on #160
The warning can make people doubt the credibility and make them vary of installing the extension making a dent in the impact

[2020-03-14 07:00] Blackcipher101 commented on #150
@makkoncept can I start working on this issue

[2020-03-14 10:08] makkoncept commented on #143
You can refer to these blog posts to decide about the content to put on the site https://opensource.creativecommons.org/blog/entries/introducing-cc-search-extension/ and https://creativecommons.org/2020/01/06/cc-search-browser-extension/ . As mentioned in the issue description, we need a page that gives a general introducation about the extension and it's features and have browser addon store link

[2020-03-14 10:11] makkoncept commented on #150
@Blackcipher101 According to the updated [Contribution guidelines](https://opensource.creativecommons.org/contributing-code/) linked in the projects [CONTRIBUTING.md](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/CONTRIBUTING.md), you don't have to ask for permission to work on an issue marked as `good first issue`. After making sure that no one is working on it, just c

[2020-03-14 11:00] lakshaybits commented on #181
@makkoncept  Can you please check, I think this issue is solved in the recent PR.

[2020-03-14 12:41] techievivek commented on #143
Thank you for the help, I will go through all the links provided and keep you will update about every step. I am also planning to first create a wireframe and share it with you for the feedback.

[2020-03-14 15:32] makkoncept commented on #181
The issue still persists but in a different form. The button should read the default "Select all" when there are no bookmarks to select.
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/34679965/76685069-e2f20380-6636-11ea-80b8-f7663524f4f3.gif)

[2020-03-14 15:46] makkoncept opened #196 "Reformat non-core files according to eslint/prettier config"
Reformat the non-core project files (Readme.md, instructions.md, webpackconfig.js, etc) according to the new eslint/prettier config (introduced in #192).

[2020-03-14 16:10] lakshaybits commented on #181
Okay, will work on it.

[2020-03-14 17:56] #196 closed

[2020-03-14 18:15] #195 closed

[2020-03-15 04:57] makkoncept opened #201 "API v1: Some syntax guide queries are not working"
**Describe the bug**
Some of the syntax guide queries are not working in the new API version. Since [CC Search](https://search.creativecommons.org/) has also migrated to the new API version, you can test the search there too.
few Eg:
- [license: "by"](https://search.creativecommons.org/search?q=license%3A%20%22by%22)
- [source: "met"](https://search.creativecommons.org/search?q=source%3A%20%22met%

[2020-03-15 04:58] makkoncept commented on #201
Blocked for now. Waiting for more info.

[2020-03-18 16:00] #150 closed

[2020-03-19 18:39] #181 closed

[2020-03-21 10:43] techievivek commented on #143
@makkoncept I have made my very first design, can you please help me in which **feature design** should I go with and also provide feedback for the rest.
Here is the link: https://www.figma.com/file/7N1ZEZ6vZwrFq01Xs0cqZv/Untitled?node-id=0%3A1

[2020-03-21 10:46] techievivek commented on #143
@makkoncept Very first image will be a gif one showcasing very feature and usage.

[2020-03-21 14:21] makkoncept commented on #143
The Figma link is giving 404

[2020-03-21 14:32] techievivek commented on #143
I am able to access the content from the above link.
I am also attaching a screenshot for the design.
![Screenshot_20200321-200010](https://user-images.githubusercontent.com/35863227/77228667-dd546a80-6bae-11ea-810b-64a46fc5ebe7.jpg)

[2020-03-21 14:43] techievivek commented on #143
@makkoncept I have doubt regarding how to show features? GitHub link in the top will be similar to as of CC open source website. First image will be a gif one and then some important features can be shown.

[2020-03-21 15:41] makkoncept commented on #143
Maybe you have not made the file public

![Screenshot from 2020-03-21 21-09-30](https://user-images.githubusercontent.com/34679965/77230176-586e4e80-6bb8-11ea-8946-678b36f7b514.png)

[2020-03-22 13:39] techievivek commented on #143
This is the design that I have made, can you give review on it.
![Screenshot_20200321-200010](https://user-images.githubusercontent.com/35863227/77250853-a47cca00-6c70-11ea-979b-9609759b5cbd.jpg)

[2020-03-22 16:31] techievivek commented on #143
@makkoncept Yes there was some permission issue, I have changed it now. Please have a look.

[2020-03-22 17:24] makkoncept commented on #143
For the start, the design looks good. I have a few points:
- Make sure to integrate vocabulary into the site because most of the components would look better that way. For eg, in the design above, the [header](https://cc-vocabulary.netlify.com/?path=/story/patterns-header--big), [buttons](https://cc-vocabulary.netlify.com/?path=/story/elements-buttons--button-primary), [footer](https://cc-vocabula

[2020-03-22 18:06] techievivek commented on #143
@makkoncept Yes I will be using the Vocabulary design system as you can see from the above image, buttons in the Vocabulary design system are far better as of the above design. And yes I will be using pure CSS without any dependency. And we can go with 2nd feature design and tabular.
For the feature part, I am planning to show these features on top.
1. Search and filter CC Licensed content
2. One-

[2020-03-22 18:43] makkoncept commented on #143
Yeah, these features seem fine to start with.

[2020-03-23 00:52] techievivek commented on #143
@makkoncept Just one more doubt before I start coding, should I create a new directory, so that we use Github pages for this directory.

[2020-03-23 01:49] makkoncept commented on #143
Yes, that's the plan.

[2020-03-23 14:00] #151 closed

[2020-03-24 15:32] techievivek commented on #143
@makkoncept  @kgodey  Please have a look at my initial attempt http://techievivek.com/cc/ , also provide me with proper feedback and little help( as it is really difficult to incorporate what is in storybook and what is being used in this design).
I need a little help with footer and logo, I am unable to get the same result as shown in storybook in my deigns like for [footer](https://cc-vocabulary

[2020-03-24 15:40] techievivek commented on #143
@makkoncept Also I have made two design for other features, please help me with which one we can go with further improvements.

[2020-03-24 16:06] makkoncept commented on #143
@techievivek The initial design looks good. There is a lot of room for improvement though. I will get back to you after testing and experimenting with the PR.

[2020-03-24 16:08] techievivek commented on #143
@makkoncept Yes we can improve a lot. Also it was really messy incorporating Vocabulary, so please have a look.
Thank you

[2020-03-25 04:16] techievivek commented on #143
@makkoncept We can also use slide-in CSS animation for each features when it comes in focus?

[2020-03-25 13:30] makkoncept commented on #143
@techievivek yes we can. I am sorry, I am not able to take out time for the PR. I will try to look into soon.

[2020-03-25 13:36] techievivek commented on #143
No issue, please take your time.

[2020-04-06 02:03] makkoncept opened #207 "Add check for proper formatting to Github Actions"
The check for linting errors not always promises proper formatting as a side-effect. Therefore, formatting requires it's separate check in the PRs.

[2020-04-06 02:43] #207 closed

[2020-04-07 12:22] #141 closed

[2020-04-08 13:00] #201 closed

[2020-04-08 13:43] makkoncept commented on #144
With the search syntax guide update in the options page, the migration to CC Catalog API v1 is complete :)

 A new version has been pushed to the browser stores. The review might take more time than usual due to the Covid-19 outbreak (atleast for the chrome store. They notified about this in a mail).

[2020-04-08 13:43] #144 closed

[2020-04-14 07:18] makkoncept opened #213 "Bug: Sketchfab source icon is not visible"
**Describe the bug**
![Screenshot from 2020-04-14 12-35-43 (1)](https://user-images.githubusercontent.com/34679965/79196609-02569900-7e4e-11ea-816c-c5ef9e7a7d8a.png)

In addition to fixing this, also update the backup source list.

[2020-04-14 09:00] #213 closed

[2020-04-15 07:37] makkoncept opened #217 "Empty search result is getting stored and overwriting the cache"
**Describe the bug**

If the user search query returns an empty result, then they are shown an appropriate message asking them to use a different query. But, if they close the extension now and reopen it again, they would see the following :

![Screenshot from 2020-04-15 12-45-31 (1)](https://user-images.githubusercontent.com/34679965/79310254-41055580-7f19-11ea-9529-66d9ef96c36b.png)

This happen

[2020-04-15 16:31] makkoncept opened #218 "Search result cache doesn't update if different filters are used"
**Describe the bug**
The search result data stored in the localStorage is presently identified by the search query only. When a term is searched by the user, it is checked if the results stored in the localStorage are of the same term or not. If they are not, then the localStorage is updated.

Now consider a case where the user searches for `dog` without applying any filters. The term `dog` along

[2020-04-15 17:07] makkoncept opened #219 "Improve the UI of filters section in firefox browser"
**Is your feature request related to a problem? Please describe.**

The size of the filter checkboxes and the placeholder is proportionally bigger when compared with the rest of the extension. If the user increases the font-size of firefox to be somewhat similar to what the chrome has, this does not pose a problem but nonetheless this should be fixed.

![Screenshot from 2020-04-15 22-16-49](https:

[2020-04-16 05:46] #217 closed

[2020-04-16 07:36] #219 closed

[2020-04-17 13:07] makkoncept opened #223 "Inconsistent positioning of the image title"
**Describe the bug**
The positioning of the image title for some source is perfect -

eg: `Flickr`

![Screenshot from 2020-04-17 18-20-30 (1)](https://user-images.githubusercontent.com/34679965/79571922-a9029a00-80d9-11ea-810c-cee3cac70903.png)

But for some sources, which have a thin icon, the title touches the bottom of the thumbnails and looks improper - see some examples below.

![Screenshot f

[2020-04-17 13:27] makkoncept opened #224 "Search results not persistent when user switches between bookmark and search section"
**Describe the bug**

We can easily imagine a user switching between the search and the bookmarks section in a single session. But during this switching, the search results are not persistent. This can become frustrating for regular users as they would have to search again and again or may have to adapt to not switch between the sections. Both of these alternatives do not promise a good User Exper

[2020-04-17 17:11] techievivek commented on #224
@makkoncept I tried to reproduce the error, but I am unable to achieve it. Could you please verify if I have followed it correctly, moreover I can't see the setting you talked about.
![ezgif com-video-to-gif(2)](https://user-images.githubusercontent.com/35863227/79595409-6b633880-80fc-11ea-8f15-10b5026206f4.gif)

[2020-04-17 17:26] makkoncept commented on #224
![Screenshot from 2020-04-17 22-52-35](https://user-images.githubusercontent.com/34679965/79596536-5edfdf80-80fe-11ea-8d54-20793439c03f.png)

I was talking about this setting. It is toggled on by default. You have to toggle it off to reproduce the bug.

[2020-04-17 17:32] techievivek commented on #224
@makkoncept So this is more like when we are navigating back to home, it is thinking it as if we restarted the extension?

[2020-04-17 17:36] makkoncept commented on #224
Yeah that's a high level way to describe this.

[2020-04-17 17:38] techievivek commented on #224
@makkoncept I will like to work on this.

[2020-04-17 17:41] makkoncept commented on #224
@techievivek Sure, go ahead.

[2020-04-20 10:45] rubenlorenzo commented on #223
Hello, can I work on solving it? My first option is increasing the margin-bottom to image-title.

[2020-04-20 12:36] makkoncept commented on #223
Hi @rubenlorenzo. Sure, you can go ahead. I experimented a bit with this issue. Following are some thoughts:

- Increasing the margin-bottom of image-title is a good start but it will now work all the time. You see that the image title position depends on the size of the source icon. The source icons have different vertical sizes and therefore, a constant margin-bottom will not work for all.

- I

[2020-04-20 14:20] rubenlorenzo commented on #223
I have changed only the border-bottom in image-title, because source-image depends on it.
If I add it as a constant in both, source-image is higher. I have uploaded the change to my fork repository. So @makkoncept you could check it.

[2020-04-20 15:03] makkoncept commented on #223
You can submit a PR and we can improve upon it. Also, go through the [PR guideline](https://opensource.creativecommons.org/contributing-code/pr-guidelines/) and [CONTRIBUTING.md](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/CONTRIBUTING.md) if you haven't already.

[2020-04-22 18:05] #143 closed

[2020-04-22 20:19] kgodey opened #229 "Update footer text on landing page"
See corresponding Vocabulary ticket: https://github.com/creativecommons/vocabulary/issues/334

[2020-04-22 20:46] makkoncept commented on #229
@kgodey I observed that the footer on https://search.creativecommons.org/ also have social media links but it's now showing [on the storybook](https://cc-vocabulary.netlify.app/?path=/story/patterns-footer--default-story). Maybe it's not updated?

[2020-04-22 21:57] makkoncept commented on #229
I opened an issue https://github.com/creativecommons/vocabulary/issues/339.

[2020-04-22 22:20] #229 closed

[2020-04-24 20:33] #224 closed

[2020-04-26 20:31] #218 closed

[2020-04-26 20:52] makkoncept commented on #223
There is a better solution to this problem. It is basically motivated by how [search.creativecommons.org](http://search.creativecommons.org/) has re-implemented the way title of the image is shown. This will solve this problem and also the issue that sometimes the title is not visible when there is a light background in the current implementation.

![Screenshot from 2020-04-27 02-15-24](https://us

[2020-04-27 08:23] rubenlorenzo commented on #223
I think it's a good idea. The icon may apper with the others icons (license...) but situation on the right. The text frame with text, We can put less opacity.

[2020-04-27 14:34] makkoncept commented on #223
@rubenlorenzo Adding source icon to the top right would make everything very clumsy as it also has a bookmarks icon and the selection checkbox(visible in bookmarks section). Anyways, changing the title to be displayed as described in the above comment is the new goal. If you want to continue working on this, let me know. You can also close the old PR.

[2020-04-27 15:27] makkoncept opened #233 "Change the filter icon color when some filters are applied"
**Is your feature request related to a problem? Please describe.**
The user can only confirm that some filters are applied after they open the filter section and check for themselves. Sometimes they may not be aware that some filters are already applied while they continue their search. Therefore, a visual indicator of filter activation would be very helpful.

**Describe the solution you'd like**

[2020-04-27 18:29] #233 closed

[2020-04-27 18:55] makkoncept opened #236 "Clash between custom user settings and last session result"
**Describe the bug**
When the extension is loaded and if there is a search result stored in the localStorage, then the images, along with the filters applied (if any) is loaded to the UI. So far so good. But, if the user has set some default filters in the options page, then the filter section shows those filters but the images loaded are of the last session (with their respective filters).

**Add

[2020-04-27 21:45] #236 closed

[2020-04-28 13:13] rubenlorenzo commented on #223
@makkoncept,  I can apply the last image. What do you think?

[2020-04-28 16:38] makkoncept commented on #223
@rubenlorenzo what do you mean?

The new goal is to implement the title to show like this. This should appear when we hover over the image.You can see this on http://search.creativecommons.org/
 ![](https://user-images.githubusercontent.com/34679965/80319217-fba42a80-882c-11ea-9697-c62d36238653.png)

[2020-04-28 22:10] makkoncept opened #238 "Previous search filters show up in the drop down but are unchecked."
**Describe the bug**
The search results and the associated filters and the title are stored in Local Storage and loaded up again in the next session. This feature is toggled on by default.
The filters are correctly loaded and but you can see that they are not checked on in the dropdown.

**GIF**
![ezgif com-video-to-gif (8)](https://user-images.githubusercontent.com/34679965/80542696-21673600-89cb

[2020-04-29 08:14] rubenlorenzo commented on #223
ok, I go to implement it.

[2020-04-30 19:14] Arunhari333 commented on #238
You are working on this issue, right?

[2020-05-01 09:03] makkoncept commented on #238
Yes

[2020-05-04 10:21] #223 closed

[2020-05-04 15:22] JoeReusswig7 opened #240 "Cc"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-05-04 15:22] JoeReusswig7 commented on #240
_[]()_

[2020-05-05 02:42] #240 closed

[2020-05-05 05:32] #160 closed

[2020-05-07 03:12] Fahme opened #242 "Allow a build for the safari browser"
**Is your feature request related to a problem? Please describe.**

Currently i use CC search a lot to find images that i can use in my projects and it's a great tool, however it's really sad that the extension is not available in Safari, so it would be really nice to allow Safari build for the extension.

**Describe the solution you'd like**
I worked on a multiple projects previously to support s

[2020-05-07 07:23] makkoncept commented on #242
Hi @Fahme. Thanks for your interest in the project. It would be awesome if we can add the support for the safari browser. You can go ahead with this. Feel free to ask any doubts that you might have. I shall try to figure out a way to test this on Linux as I don't have a mac. Using wine to run [Safari will not work](https://askubuntu.com/questions/585209/opera-and-safari-installation). Maybe runnin

[2020-05-07 14:00] Fahme commented on #242
@makkoncept Great, thanks for the fast response.

I think yes the best possible solution for you is to install a VM because you will need x-code in order to build and run the ext on Safari. Also when publishing on the App store it's needed to generate a certificate in order to sign it and that i think can only be done on mac os.

Worth giving [this](https://developer.apple.com/documentation/safari

[2020-05-07 19:39] makkoncept commented on #242
Breaking the task in two different PRs sounds good to me. Please make sure that you create a separate branch for the PR.

I have a couple of doubts.
- I checked some repositories of safari extension on Github and their file-structure looks very different and also some of them have Swift Code in them. The same needs to be done for cc-search extension?
- Also, the tutorials generally describe how to

[2020-05-07 21:45] Fahme commented on #242
@makkoncept

The file structure for the ext doesn't matter however the folder that will be generated by x-code automatically will contain a couple of swift files that's needed for the build (we don't have to care about those as xcode takes care of it) + it will also include the bundled templates (html) + js (scripts) + css that's going to be injected into safari browser (this we will generate usin

[2020-05-08 00:12] makkoncept commented on #242
Sounds good. Thanks for clearing things out!

[2020-05-11 09:30] #238 closed

[2020-05-11 11:07] makkoncept opened #246 "Source filter not applied until sources are fetched from the API"
**Describe the bug**

The source filters stored in the Local Storage are loaded after the updated sources have been fetched from the server. This was previously done as soon as the extension loaded but then it sometimes caused a delay/freeze in the beginning. So, it was moved to trigger only when the filter icon is clicked by the user. The problem of lag on the start was fixed but now this has cau

[2020-05-11 12:10] #246 closed

[2020-05-25 12:07] qa8302 opened #252 "Order Service"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-26 13:45] #252 closed

[2020-06-02 04:05] jaysnoddy opened #254 "Frustrating to use"
**Describe the bug**
This appears to have a feature I want--saving two similarly named files, one with an image and one with metadata for license and attribution, but it almost never works out in practice for me.

I can see the file I want in, say, Wikimedia Commons. But I cannot scrape the information.  Ok, I have to search for it. So...I type in all sort of metadata like the title directly from

[2020-06-02 15:14] makkoncept commented on #254
Hi @jaysnoddy, thanks for your feedback. I understand your problem of not getting the relevant search results but this problem is related to the [CC Catalog API](https://github.com/creativecommons/cccatalog-api), which is what this extension and [CC Search](https://search.creativecommons.org/) uses under the hood to get the search results. So, it would make sense if you open this issue on [CC Cata

[2020-06-03 10:32] jaysnoddy commented on #254
Thanks for your helpful response!
I am, however, unsure that a better search would help with my particular workflow. Almost all the time I already know the image I want and I am at a web page with that image. Trying to re-find it again via a search would just be an unneeded step, no matter how improved that search would be.  I do not know how many potential users start with an image in mind, but I

[2020-06-03 13:43] kgodey commented on #254
@jaysnoddy Thank you for the suggestion! The extension that you are describing sounds very useful, but I'm not sure that it would be a good additional feature for this particular extension, since this is just designed as an interface for the existing CC Search functionality. A companion extension would make sense, but I don't think CC has the resources to work on it any time soon.

I will file the

[2020-06-09 02:49] #254 closed

[2020-08-12 18:37] zackkrida opened #277 "Feature Request: Fixed header"
Thoughts on fixing the header to the top of the extension? It has a toolbar feel to me so could make sense.

[2020-08-12 23:38] makkoncept commented on #277
Hi @zackkrida. Nice idea!  But the current design is going to change as we are integrating vocabulary and [this mockup](https://www.figma.com/file/nJk4krHryIjzYGvaioMsAu/Browser-extension?node-id=892%3A4562).  In the mockup, you can see that some sections (which are also scrollable), the footer is fixed (eg: [Filter section](https://www.figma.com/file/nJk4krHryIjzYGvaioMsAu/Browser-extension?node-

[2020-08-14 15:24] panchovm commented on #277
I like the suggestion, but maybe we can try the mockup and see how it feels the interaction and the daily use.

[2020-08-14 18:49] makkoncept commented on #277
Okay. I'll come back to this after at least  major parts of the mock-up design are integrated in the extension.

[2020-08-19 03:42] Aakash2408 commented on #277
Hey @panchovm  Can you add images for reference of this issue?

[2020-08-19 04:17] makkoncept commented on #277
Hi @Aakash2408, the images you are referring to is the new design of the extension ([Extension mockup](https://www.figma.com/file/nJk4krHryIjzYGvaioMsAu/Browser-extension?node-id=892%3A4562)).

[2020-08-19 04:43] Aakash2408 commented on #277
ok so nothing in the development phase?

[2020-08-19 06:52] makkoncept commented on #277
@Aakash2408 The integration of Mockup design and [CC Vocabulary](https://github.com/creativecommons/vocabulary) is underway. You can checkout [PR#276](https://github.com/creativecommons/ccsearch-browser-extension/pull/276). It's a WIP.

[2020-08-26 23:51] makkoncept commented on #277
@zackkrida, @panchovm Please refer to the GIFs below to see how the fixed header looks in the new design.

![new-extension-filters](https://user-images.githubusercontent.com/34679965/91367646-a43ab900-e824-11ea-9c65-e452c5198f59.gif)

![bookmarks-in-new-version](https://user-images.githubusercontent.com/34679965/91367638-a0a73200-e824-11ea-8f75-463ecba51e54.gif)

![source-section-light](https://us

[2020-08-27 00:40] zackkrida commented on #277
I like it a lot let's confirm with @panchovm

[2020-08-27 13:22] panchovm commented on #277
It will be also on the home page? for search results? what about the single result?

[2020-08-27 14:37] makkoncept commented on #277
@panchovm The fixed header is also for the search result page but for the single result (image-detail section), in the place of the header we have the tabs and they are not fixed. The reasoning behind this was that I thought that unlike the search results or the bookmarks page, the height of the image detail section does not grow very much. The gifs are below for reference. I would like to know yo

[2020-08-27 17:19] panchovm commented on #277
I am not completely sure about this feature. The space for seeing results and browse them is reduced compared to CC search site. And with the header's height, is even less space.

I think it makes more sense to keep the search bar fixed, but I do understand that is a different feature.

I would like to hear other opinions as well (tagging @annatuma and @kgodey)

[2020-08-28 10:18] makkoncept commented on #277
I think it's a valid point. Furthermore, I noticed that it will be a big concern on firefox because the extension popup there does not increase its height as you can see in the GIF below. So, I guess we can skip this. Anyways, thanks @zackkrida for the suggestion :100:

![firefox](https://user-images.githubusercontent.com/34679965/91548685-61bbce00-e943-11ea-9236-bdd37af640a9.gif)

[2020-08-28 10:19] #277 closed

[2020-09-11 14:46] kgodey opened #284 "Update screenshots in landing page to new look"
The [CC Search browser extension landing page](https://opensource.creativecommons.org/ccsearch-browser-extension/) still has the old look and does not include Microsoft Edge links. Please update it to be current.

[2020-09-11 15:09] OrganizationIdentity opened #285 "CC Search"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-11 15:18] #285 closed

[2020-09-16 12:57] #284 closed

[2020-09-23 07:42] makkoncept opened #287 ""Load more results" button appears below an empty search gallery"
**Describe the bug**
This bug is rather subtle.
Toggling between the (empty) search section and the bookmarks section would not render the the "Load more results" button.

![no error](https://user-images.githubusercontent.com/34679965/93981784-05ab6480-fd9e-11ea-9854-988cba0a813f.gif)

This button would appear if you open image-detail of any image while in the bookmarks section, and then toggle ba

[2020-09-24 20:15] makkoncept opened #288 "Remove redundant license logos from the repository"
**Describe the bug**

The images and SVGs present in `src/popup/img/` (except _search.svg_) are no longer required in the project because:
- The license logos were used in the custom image component, which is now replaced by the vocabulary component.
- `cc-logo_white.png` and `ccheart_red.svg` are not being used in the new design.

Along with these images, their reference in the [webpack config](h

[2020-09-24 20:24] rajatdiptabiswas commented on #288
Hi @makkoncept

I'd like to work on this. I'll try my best to get the issue fixed as soon as possible.

[2020-09-24 20:28] makkoncept commented on #288
@rajatdiptabiswas Take your time. There's no hurry on this one.

[2020-09-25 06:13] vivek32ta commented on #287
Hi @makkoncept

Is it okay if I take this up?

Best,
Vivek

[2020-09-25 10:44] vivek32ta commented on #287
Hi @makkoncept

I fixed the bug by changing 2 lines of code. But when I try running ES Lint, I get this....

`ESLint: 5.16.0.`
`No files matching the pattern "'./src/**/*.js'" were found.`
`Please check for typing mistakes in the pattern.`

And since this is a pre-commit command, I'm not able to commit my changes.
What do you think I should do?

Thanks.

[2020-09-25 12:34] makkoncept commented on #287
Hi @vivek32ta, I am not able to mimic the error on my machine. Can you provide the following information for better debugging? Before that, you can delete the `node_modules/` and reinstall the dependencies and check if the error persists.

1. Have you changed the project directory structure? Please paste the screenshot of the file structure of the project as shown in your editor.

2. On your termi

[2020-09-25 13:47] #288 closed

[2020-09-25 13:52] vivek32ta commented on #287
Hey @makkoncept,

I figured it out. I'm using windows so single quotes don't identify as strings in command prompt. So I changed the eslint command in package.json with double quotes to....

`eslint \"./src/**/*.js\" \"./tests/**/*.js\"`

ES Lint works fine now.

[2020-09-25 15:21] #287 closed

[2020-10-01 17:29] makkoncept opened #292 "Add license explanation tool tip in the filter section"
The users can click the question mark icons in the filter section on [CC Search](https://search.creativecommons.org/search?q=mountain) to see a brief explainer of each license.

![Screenshot from 2020-10-01 22-42-25](https://user-images.githubusercontent.com/34679965/94842120-9f2ae400-0438-11eb-9af6-db33f101bcc7.png)

The same is to be implemented in the filters section of the extension.

- The ic

[2020-10-01 17:42] sravan7 commented on #292
@makkoncept
I would like to work on it. please assign i to me

[2020-10-02 04:04] abhinavjonnada82 commented on #292
Can I get this with some instructions, please?

[2020-10-02 07:19] makkoncept commented on #292
Sure! @abhinavjonnada82.

As far as setting up the project for development is concerned, you can go through [build instructions](https://github.com/creativecommons/ccsearch-browser-extension#installation-from-source) and [INSTRUCTIONS.md](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/INSTRUCTIONS.md).

This particular issue is concerned with the filter section of the ex

[2020-10-03 02:25] abhinavjonnada82 commented on #292
@makkoncept hey thanks for the instructions. I'll be on it ASAP!
Thanks

[2020-10-04 02:55] abhinavjonnada82 commented on #292
hey @makkoncept is there slack channel or some kind of community chat. Where I can ask some questions?

[2020-10-04 05:32] makkoncept commented on #292
Yes, you can join the [creative commons slack](https://opensource.creativecommons.org/community/#slack). BTW, If the questions are regarding this issue, there is no harm in discussing it here!

[2020-10-04 06:15] abhinavjonnada82 commented on #292
Sure let's do it over here! So just to rephrase what is in the ticket. You basically need a question mark symbol by the licenses and grab essential information and display on the tooltip?
1q.) should this thing should be done on the filter section?
2q.) from where should the information (about licenses and stuff) be grabbed and displayed on the tooltip?
3q.) is there a sample I can refer to?
Lastl

[2020-10-04 06:34] makkoncept commented on #292
1a.) Yes, in the filters section.
![Screenshot from 2020-10-04 11-55-09](https://user-images.githubusercontent.com/34679965/95008565-a02a6400-0638-11eb-94fa-ad5f95a9937e.png)

2a.) You don't need to fetch the information from anywhere. The license information and their icons are not dynamic and therefore there is no harm in hardcoding them.

3a.) Yes, as mentioned in the issue description, you can

[2020-10-14 00:05] abhinavjonnada82 commented on #292
Hey @makkoncept I'm in between jobs and have to prioritize my time. For now, I'm gonna unassign form the PR.

GL

[2020-10-29 17:30] patelaryan7751 commented on #292
hey @makkoncept  can you assign me this issue i would like to work on this issue.

[2020-10-29 18:23] makkoncept commented on #292
@patelaryan7751 go ahead.

[2020-10-30 13:27] patelaryan7751 commented on #292
hey @makkoncept  i have fixed the issue but i am facing difficulty with some errors .
![error](https://user-images.githubusercontent.com/59426397/97710179-6aff1d80-1ae1-11eb-885c-d8a627a7d694.png)
can u help me how to solve this errors. i really want to contribute but i am a beginner so i do not have a expertise in this and this is my first contribution to the organization.

[2020-10-30 14:17] makkoncept commented on #292
The build failed because of the formatting errors. Please go through the [INSTRUCTIONS.md](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/INSTRUCTIONS.md). Also, you can run `npm run prettier:check` to see the formatting errors causing this.

[2020-11-02 12:32] devangmukherjee opened #295 "Load more results button appears even when there are no more pictures to show"
**Describe the bug**
If you search for an image, which has no more new results to show, the "load more results" button still appears on the bottom and clicking on it does not do anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'CC browser extension and type out 'penguin' in the search box'
2. Click on 'Go to filters and select 'Rawpixel' '
3. Scroll down to 'Load more results

[2020-11-02 12:33] devangmukherjee commented on #295
@makkoncept I would like to work on this.

[2020-11-03 14:28] makkoncept commented on #295
@devangmukherjee I can think of the following approach:
- After pressing the "load more" button if there are no images, then a notification can be shown to the user. Also, the "load more" button rendered after that should not be clickable.

[2020-11-03 23:45] makkoncept commented on #295
Hey @devangmukherjee , I looked into this and found a better way to implement this. It involves the [search](https://github.com/creativecommons/ccsearch-browser-extension/blob/2cd092fe60cd4290ff5bfdae0f6884c585d93b79/src/popup/localUtils.js#L223), [nextRequest](https://github.com/creativecommons/ccsearch-browser-extension/blob/master/src/popup/popup.js#L68) and the [checkResultLength](https://gith

[2020-11-06 02:38] patelaryan7751 commented on #292
hello @makkoncept i have fixed the issue #294 i have added the explanation to the license as mentioned by you.
you can find the pull request #304  here and a gif of the extension below
![extension](https://user-images.githubusercontent.com/59426397/98319625-2d315600-2007-11eb-8ccd-68c6f4f8434d.gif)
If there is any issue in my work do notify me i would work again on it.

[2020-11-07 06:10] patelaryan7751 opened #307 "suggesting words based on letters entered in the search query"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When a person enters a word Ex-: "mountain" in the search box it does not show any suggestions of the entered letters.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I want that when a user

[2020-11-07 14:51] Melonadev opened #308 "Minor spelling errors"
When I open the extension and go into 'Bookmarks', it shows the option '[Export All Bookmkarks](https://github.com/creativecommons/ccsearch-browser-extension/blob/2cd092fe60cd4290ff5bfdae0f6884c585d93b79/src/popup/popup.html#L175)'. It should be spelt 'Export All Bookmarks'.

![image](https://user-images.githubusercontent.com/66422959/98444286-c49fc180-214b-11eb-8ea2-ae7060e5bd06.png)

[2020-11-08 07:16] devangmukherjee commented on #308
@makkoncept I would like to work on this.

[2020-11-08 14:04] Melonadev commented on #308
Also, another error. The message '**Fetched latest sources succcessfully**' that shows up a few seconds after clicking on the extension should be '**Fetched latest sources successfully**'.

![image](https://user-images.githubusercontent.com/66422959/98466974-cdf16280-220d-11eb-98d1-2896c147fae2.png)

[2020-11-09 00:13] Melonadev commented on #308
@devangmukherjee Would you like to fix the other one I mentioned above?

[2020-11-09 08:28] devangmukherjee commented on #308
@Melonadev yes, I will make this change.

[2020-11-11 13:15] RinkiyaKeDad commented on #308
Hey @Melonadev! Is this issue still assigned or can I work on it? Thanks.

[2020-11-11 14:07] Melonadev commented on #308
@RinkiyaKeDad For some reason, the second issue I mentioned is not fixed yet. @devangmukherjee

[2020-11-11 14:43] RinkiyaKeDad commented on #308
I saw the PR @Melonadev, doesn't the [recent commit](https://github.com/creativecommons/ccsearch-browser-extension/pull/309/files) fix the spellings of successfully?

[2020-11-11 14:59] devangmukherjee commented on #308
@Melonadev I fixed the succesfully spelling in the same bookmarks PR.

[2020-11-12 02:43] Melonadev commented on #308
@devangmukherjee That's good. Maybe your correction didn't reach the Chrome Web Store version.

[2020-11-12 04:02] makkoncept commented on #308
Hey, Sorry I am caught up in some work and will address the issues and PRs as soon as I get the time. The changes will be reflected in the Chrome Web Store after the new build is pushed there.

[2020-11-15 10:03] #308 closed

[2020-11-15 10:13] #295 closed

[2020-11-17 10:09] RinkiyaKeDad commented on #292
Hey @patelaryan7751 are you still working on this issue? If yes would you like some help? And if you aren't working on it then can I take it up @makkoncept?

[2020-11-17 11:15] patelaryan7751 commented on #292
@RinkiyaKeDad ya you can work on this i am aslo now little busy with my acads as far as @makkoncept  reviewed my prev pull request
https://github.com/creativecommons/ccsearch-browser-extension/pull/304
i think i have to make more changes. You can take my files build upon it or else you can start from beginning.

[2020-11-17 11:16] #307 closed

[2020-11-20 05:40] makkoncept commented on #292
I am syncing up with the updates to the project now because last week has been very hectic for me due to college. @RinkiyaKeDad you can go ahead with this issue.

[2020-11-25 11:30] makkoncept opened #311 "Clicking the bookmark in edit mode opens "image-detail" section instead of "selecting" it"
**Describe the bug**
In the "edit-mode", the click on a bookmark thumbnail is supposed to "select" it. But, now it opens the image-detail section.

Refer to the GIFs below:

**Expected Behaviour**

![Peek 2020-11-25 16-48](https://user-images.githubusercontent.com/34679965/100221104-3b0b3480-2f3e-11eb-9de9-9885f10fc4f9.gif)

**Current Behaviour**

![Peek 2020-11-25 16-49](https://user-images.githu

[2020-11-27 09:07] RinkiyaKeDad commented on #311
Hey @makkoncept! I'd like to work on this issue.

[2020-11-27 10:38] #311 closed

[2020-12-01 04:38] Toppole69 opened #313 "￼b"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-01 12:52] #313 closed

[2020-12-07 11:35] kshitij86 commented on #292
@kgodey  @makkoncept This issue is still open and has the work required label. What other work is required on this ?

[2020-12-07 11:40] makkoncept commented on #292
@kshitij86 the issue is currently being taken up (#310 )

[2020-12-07 11:41] kshitij86 opened #314 "Add setting to make the Navbar in the popup stick to the top"
**Is your feature request related to a problem? Please describe.**
When scrolling through large lists, the navbar on the top is not accessible as it is fixed to the top.

**Describe the solution you'd like**
The user interface can be improved a lot if the settings have an option to keep the navbar fixed to the top for easy access at all times.

**Describe alternatives you've considered**
Scrolling

[2020-12-07 11:41] kshitij86 commented on #314
@kgodey @makkoncept What do you think about this feature request?

[2020-12-07 11:47] kshitij86 commented on #292
@makkoncept Can I also contribute to it somehow? I've tried using the extension and I think it's a great tool. There aren't many good open issues either. Can you help me out here?

[2020-12-07 12:51] makkoncept commented on #292
@kshitij86 as far as this particular issue is concerned, it's in it's final stages (I am working on the final improvements and will be pushing them soon to #310 as we are planning to include this fix in the next update).

You can of course try out the extension and open bug reports or feature requests. We can discuss their feasibility and you can work on them if you like.

[2020-12-07 18:00] makkoncept commented on #314
Hey @kshitij86, This has already been discussed in https://github.com/creativecommons/ccsearch-browser-extension/issues/277 and we decided to not include this in the extension. You can refer to the conversation there for more info.

[2020-12-07 18:00] #314 closed

[2020-12-11 04:21] #292 closed

[2020-12-12 19:28] darkshredder opened #316 "Formatting HTML Attribution on downloading text file"
**Is your feature request related to a problem? Please describe.**
Currently on downloading Image and Attribution the HTML Attribution is not formatted and thus unreadable

**Describe the solution you'd like**
I would like to implement a function which gives out formatted output of HTML Attribution

**Additional context**

![Screenshot from 2020-12-13 00-57-18](https://user-images.githubuserconten

[2020-12-13 14:23] makkoncept commented on #316
@darkshredder Thanks for opening this issue. Please go ahead!

[2020-12-16 14:30] #316 closed

[2020-12-16 16:07] darkshredder opened #318 "Formatting exported bookmark json file"
**Is your feature request related to a problem? Please describe.**
Currently the json file downloaded is not properly formatted or indented

**Describe the solution you'd like**
I would like to format and indent json file downloaded

**Additional context**
![Screenshot from 2020-12-16 21-35-58](https://user-images.githubusercontent.com/52625656/102373911-b6648100-3fe6-11eb-87f7-02af3c94684f.png)
T

[2020-12-17 12:58] makkoncept commented on #318
@darkshredder Thanks for the feature request but I think that this is not required in the extension. The reason is that the exported bookmark files are not meant for raw consumption by the users. They are imported through the options page and then the user opens the bookmarks section in the extension popup to view them. These bookmark files can be used for archiving bookmarks or sharing bookmarks

[2020-12-17 12:58] #318 closed

[2021-06-11 20:35] #242 closed